/*--------------------Boxes--------------------*/
// Box reset
.box-reset{
	padding-left: 0 !important;
	padding-right: 0 !important;
	.row{
		margin-left: 0;
		margin-right: 0;
		> *{
			padding-left: 0;
			padding-right: 0;
		}
	}
}
// Box table
.box-table{
	@include box-table;
}
// Children alineados verticalmente
.child-inline{
	> *{
		display: inline-block;
		vertical-align: middle;
	}
}

/*--------------------Hide Elements--------------------*/
@each $breakpoint,$size in $grid-breakpoints {
	@media screen and (min-width: map-get($size,min)) and (max-width: map-get($size,max)){
		.hidden-#{$breakpoint} {
			display: none !important;
		}
	}
	@media screen and (min-width: map-get($size,min)){
		.hidden-#{$breakpoint}-up{
			display: none !important;
		}
	}
	@media screen and (max-width: map-get($size,max)){
		.hidden-#{$breakpoint}-down{
			display: none !important;
		}
	}
}

/*--------------------Padding & Margin Classes--------------------*/
// For each side
$paddings-margins: (
	padding: 	padding,
	padding-t: 	padding-top,
	padding-b: 	padding-bottom,
	padding-l: 	padding-left,
	padding-r: 	padding-right,
	margin: 	margin,
	margin-t: 	margin-top,
	margin-b: 	margin-bottom,
	margin-l: 	margin-left,
	margin-r: 	margin-right
);
@each $padding-margin,$padding-margin-side in $paddings-margins {
	@for $i from 1 through 20 {
		.#{$padding-margin}-#{$i*5} {
			#{$padding-margin-side}: $i*5px;
		}
	}
}
// For both sides
$paddings-margins-pair: (
	padding-v:			(side-1: padding-top, side-2: padding-bottom),
	padding-h:			(side-1: padding-left, side-2: padding-right),
	margin-v:			(side-1: margin-top, side-2: margin-bottom),
	margin-h:			(side-1: margin-left, side-2: margin-right)
);
@each $padding-margin,$padding-margin-side in $paddings-margins-pair {
	@for $i from 1 through 20 {
		.#{$padding-margin}-#{$i*5} {
			#{map-get($padding-margin-side,side-1)}: $i*5px;
			#{map-get($padding-margin-side,side-2)}: $i*5px;
		}
	}
}

/*--------------------Borders--------------------*/
@each $color,$value in $color-palette-map {
	.border-#{$color} {
		border: 1px solid map-get($value,color);
	}
	.border-v-#{$color} {
		border-top: 1px solid map-get($value,color);
		border-bottom: 1px solid map-get($value,color);
	}
	.border-t-#{$color} {
		border-top: 1px solid map-get($value,color);
	}
	.border-b-#{$color} {
		border-bottom: 1px solid map-get($value,color);
	}
	.border-h-#{$color} {
		border-left: 1px solid map-get($value,color);
		border-right: 1px solid map-get($value,color);
	}
	.border-l-#{$color} {
		border-left: 1px solid map-get($value,color);
	}
	.border-r-#{$color} {
		border-right: 1px solid map-get($value,color);
	}
}

/*--------------------Center--------------------*/
.absolute-center{
	@include absolute-center;
}
.vertical-center{
	@include vertical-center;
}
.horizontal-center{
	@include horizontal-center;
}
.horizontal-center-auto{
	@include horizontal-center-auto;
}

/*--------------------Generic Classes--------------------*/
*.float-left{
	float: left;
}
*.float-right{
	float: right;
}
*.clear-both{
	clear: both;
}
*.clearfix{
	content: '';
	display: block;
	clear: both;
}
*.num-font{
	font-family: $font-number;
	font-weight: $font-light;
	white-space: nowrap;
}
*.llamar{
	cursor: default;
	&:hover{
		text-decoration: none;
		color: none;
	}
}
.content-stand{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dotted $c-lightgray-d10;
	margin-bottom: 10px;
}
span.mensaje{
	@include font-size(1.5);
	color: $c-text-d10;
}

/*--------------------Typography--------------------*/
.font-title{
	font-family: $font-title;
}
.font-body{
	font-family: $font-body;
}
.font-number{
	font-family: $font-number;
}
// Font size in pt
@for $i from 1 through 50{
	.font-#{$i*2} {
		@include font-size-pt($i*2);
	}
}
// Font weight
@each $label, $weight in $font-weight-list {
	.font-#{$label} {
		font-weight: $weight;
	}
}
// Colores
@each $color,$value in $color-palette-map {
	.font-#{$color} {
		color: map-get($value,color) !important;
	}
}
// Transformation
.font-lowercase{
	text-transform: lowercase;
}
.font-uppercase{
	text-transform: uppercase;
}
.font-capitalize{
	text-transform: capitalize;
}
// Alignment
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-nowrap{
	white-space: nowrap;
}

/*--------------------Unordered Lists--------------------*/
ul.unordered-list{
	padding-left: 1.5em;
	list-style-type: disc;
}

/*--------------------Ordered Lists--------------------*/
ol.ordered-list{
	padding-left: 30px;
	list-style-type: decimal-leading-zero;
}

/*--------------------Images--------------------*/
.img-center{
	max-width: 100%;
	display: block;
	@include horizontal-center-auto;
}
.img-cien{
	width: 100%;
	display: block;
	height: 440px;
}

/*--------------------Rules--------------------*/
@each $color,$value in $color-palette-map {
	.rule-#{$color} {
		height: 1px;
		background-color: map-get($value,color);	
	}
}

/*--------------------Backgrounds--------------------*/
@each $color,$value in $color-palette-map {
	.bg-#{$color} {
		background-color: map-get($value,color);
	}
	@for $i from 1 through 10 {
		.bg-#{$color}-opacity-#{$i*10} {
			background-color: rgba(map-get($value, color), $i*0.1);
		}
	}
}
// Background Images
.bg-contain-center{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.bg-contain-top-center{
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
}
.bg-contain-bottom{
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
 }
.bg-cover-center {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-cover-top-center {
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-parallax {
	min-height: 100%;
	background-color: transparent;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
.bg-parallax-top {
	min-height: 100%;
	background-position: top center;
	background-color: transparent;
	background-size: 100%;
}


.conten-text-slider{
	display: block;
	margin: 0 auto;
	>i{
		font-size: 8em;
		display: inline-block;
		margin: 0 auto;
		color: $c-tertiary;
	}
	.info{
		position:absolute;
		  width:50%;
		  height:100%;
		  top:0px;
		  left:0px;
		  >i{
		  	text-align: center;
		  	display: block;
		  	margin: 29% auto;
		  	z-index: 1000;
		  	width: 50%;
		  	top: 40%;
		  	 line-height:70vh;
		  	font-size: 5em;
		  	color:#eee;
		  	text-shadow: 2px 2px rgba(black,0.5);
		  		@media screen and(max-width: 1600px){
		  		 line-height:80vh;
		  	}
		  	@media screen and(max-width: 1440px){
		  		 line-height:90vh;
		  	}
		  }
		.text{
			display: block;
			margin: 0 auto;
				  	position: absolute;
			  	top: 45%;
			  	z-index: 1000;
			  	width: 100%;
			  	padding: 70px;
			  	color: white;
			  	letter-spacing: 7px;
			  	font-family: $font-title;
			  	font-weight: $font-bold;
			  	text-shadow: 2px 2px rgba(black,0.5);
			  	@media screen and (max-width: 1280px){
		  		top: 35%; 
		  		}
			 h2{
			 	color: $c-tertiary;
			 	font-size: 4em!important;
			 }
			 small{
			 	font-size: 1em!important;
			 	display: inline-block;
			 }
		}
	}

}
.conten-text-slider-2{
	display: block;
	margin: 0 auto;
	>i{
		font-size: 20em;
		display: inline-block;
		margin: 0 auto;
		color: $c-tertiary;
	}
	.info{
		position:absolute;
		  width:100%;
		  height:100%;
		  top:0px;
		  left:0px;
		  background:rgba(black,.10);
		  line-height:100vh;
		  text-align:center;
		  >i{
		  	text-align: center;
		  	display: block;
		  	margin: 0 auto;
		  	z-index: 1000;
		  	width: 100%;
		  	font-size: 50em;
		  	color:#eee;
		  	
		  }
		.text{
			display: block;
			margin: 0 auto;
			  	text-align: center;
			  	position: absolute;
			  	top: 50%;
			  	z-index: 1000;
			  	width: 100%;
			  	padding: 70px;
			  	color: #eee;
			  	font-size: 3em!important;
		}
	}

}

$duration: 0.5s;

.services-four-container{
	position: relative;
	overflow: hidden;
	background-color: white;
}
.services-middle{
	position: absolute;
	z-index: 1000;
	top:22%;
	max-width: 35%;
	left: 30%;
	@media screen and (max-width: 1440px){
		top:55%;
	}
	a{
		text-align: center;
		position: absolute;
		left: 32%;
		top: 70%;
	}
	img{
		display: block;
		opacity: 1;
		&:hover{
			opacity: .8;
		}
	}
}
.services-four-item{
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
	float: left;
	color:$c-secondary;
	background-position: center-left;
	background-repeat: no-repeat;
	background-size: cover;
	transition: width $duration ease-in-out;
	@media screen and (min-width: $screen-lg-min){
		width:50%;
		height: 760px;
		
	}
	&.active{
		width: 85%;
		@media screen and (max-width: $screen-md-max){
			width: 100%;
		}
	}
	&.inactive{
		@media screen and (min-width: $screen-lg-min){
			width: 5%;
			a{
				// display: none;
			}
		}
	}
	&.service-web{
		background-image: url(../images/inicio-anchor-entorno.jpg);
			display: block;
			  margin: 0px auto;
			  transition: all 0.4s ease-in;
			  -webkit-transition: all 0.4s ease-in;
			  -moz-transition: all 0.4s ease-in;
			  -o-transition: all 0.4s ease-in;
			  &:hover{
			  transform: scale(1.02, 1.04);
			  transition-timing-function: ease-out;
			  transition-duration: 2600ms;
			  -webkit-transform: scale(1.02, 1.04);
			  -webkit-transition-timing-function: ease-out;
			  -webkit-transition-duration: 2600ms;
			  -moz-transform: scale(1.02, 1.04);
			  -moz-transition-timing-function: ease-out;
			  -moz-transition-duration: 2600ms;
			  }
	}
	&.service-ecommerce{
		background-image: url(../images/inicio-anchor-seguridad.jpg);
		display: block;
			  margin: 0px auto;
			  transition: all 0.4s ease-in;
			  -webkit-transition: all 0.4s ease-in;
			  -moz-transition: all 0.4s ease-in;
			  -o-transition: all 0.4s ease-in;
			  &:hover{
			  transform: scale(1.02, 1.04);
			  transition-timing-function: ease-out;
			  transition-duration: 2600ms;
			  -webkit-transform: scale(1.02, 1.04);
			  -webkit-transition-timing-function: ease-out;
			  -webkit-transition-duration: 2600ms;
			  -moz-transform: scale(1.02, 1.04);
			  -moz-transition-timing-function: ease-out;
			  -moz-transition-duration: 2600ms;
			  }
	}
	&.service-marketing{
		background-image: url(../images/inicio-anchor-amenidades.jpg);
		display: block;
			  margin: 0px auto;
			  transition: all 0.4s ease-in;
			  -webkit-transition: all 0.4s ease-in;
			  -moz-transition: all 0.4s ease-in;
			  -o-transition: all 0.4s ease-in;
			  &:hover{
			  transform: scale(1.02, 1.04);
			  transition-timing-function: ease-out;
			  transition-duration: 2600ms;
			  -webkit-transform: scale(1.02, 1.04);
			  -webkit-transition-timing-function: ease-out;
			  -webkit-transition-duration: 2600ms;
			  -moz-transform: scale(1.02, 1.04);
			  -moz-transition-timing-function: ease-out;
			  -moz-transition-duration: 2600ms;
			  }
	}
	&.service-social{
		background-image: url(../images/inicio-anchor-naturaleza.jpg);
		display: block;
			  margin: 0px auto;
			  transition: all 0.4s ease-in;
			  -webkit-transition: all 0.4s ease-in;
			  -moz-transition: all 0.4s ease-in;
			  -o-transition: all 0.4s ease-in;
			  &:hover{
			  transform: scale(1.02, 1.04);
			  transition-timing-function: ease-out;
			  transition-duration: 2600ms;
			  -webkit-transform: scale(1.02, 1.04);
			  -webkit-transition-timing-function: ease-out;
			  -webkit-transition-duration: 2600ms;
			  -moz-transform: scale(1.02, 1.04);
			  -moz-transition-timing-function: ease-out;
			  -moz-transition-duration: 2600ms;
			  }
	}
}

.services-four-summary,
.services-four-detail{
	@include padding-h(30,30);
}
.services-four-summary{
	width: 100%;
	overflow: hidden;
	@include vertical-center;
	left: 0;
	z-index: 10;
	text-align: center;
	transition: all $duration;
	h4,
	.tag-we,
	p,
	a{
		opacity: 1;
		transition: opacity $duration/2 ease $duration/2 !important;
	}
	.tag-we{
		display: inline-block;
		margin-bottom: 0.5em;
		@include font-size(1.4);
		text-transform: capitalize;
		color: $c-secondary;
	}
	.services-four-item.active &{
		@media screen and (min-width: $screen-md-min){
			width: 25%;
		}
		a{
			@media screen and (min-width: $screen-md-min){
				display: none;
			}
		}
	}
	.services-four-item.inactive &{
		@media screen and (min-width: $screen-lg-min){
			@include padding-h(0);
		}
		h4,
		.tag-we,
		p,
		a{
			@media screen and (min-width: $screen-lg-min){
				position: absolute;
				opacity: 0 !important;
			}
		}
	}
	.icon-entornos{
		font-size: 3.5em;

	}
}
.services-four-detail{
	width: 0;
	opacity: 0;
	@include vertical-center;
	left: 30%;
	z-index: 5;
	@include padding-v(30);
	margin: 0 auto;
	overflow: hidden;
	color: white;
	background-color: rgba(white,0.0);
	transition: width $duration/2 ease $duration/2, opacity $duration/4 ease;
	h4{
		margin-bottom: 40px;
		@include font-size(1.75);
		font-weight: $font-regular;
		text-transform: uppercase;
		@media screen and (min-width: $screen-xl-min){
			@include font-size(2.5);
		}
		strong{
			color: $c-dark;
		}
	}
	.services-four-item.active &{
		transition: width $duration/2, opacity $duration/2 ease $duration;
		@media screen and (min-width: $screen-md-min){
			width: 65%;
			display: block;
			position: relative;
			left: 10%;
			opacity: 1;
		}
		@media screen and (min-width: $screen-lg-min){
			position: absolute;
			left: 30%;
		}
	}
}
@charset "UTF-8";
// Settings

.resp-tabs-list{
	text-align: center;
	text-transform: uppercase;
}
.resp-tabs-list li {
	display: inline-block;
	padding: 13px 15px;
	margin: 0 4px 0 0;
	cursor: pointer;
}

.resp-tabs-container {
	background-color: white;
	clear: left;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
	padding-top: 60px;
	padding-bottom: 30px;
	border-top: 1px solid $c-primary;
	.step-item{
		width: 20%;
		float: left;
		padding: 20px 15px;
		border-radius: 2px;
		&:nth-child(1),
		&:nth-child(3){
			border-bottom: 1px solid $c-tertiary;
			border-right: 1px solid $c-tertiary;
		}
		&:nth-child(2),
		&:nth-child(4){
			border-top: 1px solid $c-tertiary;
			border-right: 1px solid $c-tertiary;

		}
		&:nth-child(5){
			border-bottom: 1px solid $c-tertiary;
		}
	}
}

.resp-tab-active {
	position: relative;
	padding: 12px 14px 14px 14px !important;
	color: $c-secondary;
	background-color: white;
	&:after{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		border-bottom: 5px solid $c-primary;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
}

.resp-content-active, .resp-accordion-active {
	display: block;
}

h2.resp-accordion {
	font-size: 13px;
	border: 1px solid white;
	border-top: 0px solid white;
	margin: 0px;
	padding: 10px 15px;
}

h2.resp-tab-active {
	border-bottom: 0px solid white !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
	border-bottom: 12px solid white !important;
	background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}

.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0 0 4px;
	cursor: pointer;
	float: none;
}

.resp-vtabs .resp-tabs-container {
	background-color: white;
	border: 1px solid white;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}

.resp-vtabs .resp-tab-content {
	border: none;
	word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid $c-primary !important;
border-left: 4px solid $c-primary !important;
margin-bottom: 4px !important;
border-right: 1px white solid !important;
}

.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-top: 6px solid $c-primary;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

h2.resp-tab-active span.resp-arrow {
	border: none;
	border-bottom: 6px solid $c-primary;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
	display: block;
}

.resp-easy-accordion .resp-tab-content {
	border: 1px solid white;
}

.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid white;/* !important;*/
}

.resp-jfit {
	width: 100%;
	margin: 0px;
}

.resp-tab-content-active {
	display: block;
}

h2.resp-accordion:first-child {
	border-top: 1px solid white;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	ul.resp-tabs-list {
		display: none;
	}

	h2.resp-accordion {
		display: block;
	}

	.resp-vtabs .resp-tab-content {
		border: 1px solid white;
	}

	.resp-vtabs .resp-tabs-container {
		border: none;
		float: none;
		width: 100%;
		min-height: 100px;
		clear: none;
	}

	.resp-accordion-closed {
		display: none !important;
	}

	.resp-vtabs .resp-tab-content:last-child {
		border-bottom: 1px solid white !important;
	}
}

.img-zoom img{   
 display: block;
 position: absolute;
  margin: 0px auto;
  width: 100%;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
 }
.img-zoom> div:hover img {
  opacity: 0.8;
  transform: scale(1.05, 1.07);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -webkit-transform: scale(1.02, 1.04);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.02, 1.04);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}

.esto-es-madara{
	display: block;
	margin: 0 auto;
	text-align: center;
	small{
		display: block;
		font-family: $font-body-2;
		color: $c-secondary;
		text-transform: uppercase;
		padding: 15px 0;
		font-size: 1.2em;
	}
	i{
		font-size: 3em;
		color: $c-tertiary;
	}
	span{
		display: block;
		font-family: $font-title-2;
		color: $c-primary;
		padding: 25px 0 55px 0;
		font-size: 2em;
		line-height: 1.5;
		font-weight: 400;

	}
}
.parrafo-services{
		font-size: .9em;
		color: lighter($c-primary,.5);
		line-height: 1.6;
		text-align: justify;
		padding: 0 5px;
		@media screen and (max-width: 1280px){
		font-size: .8em;
		padding: 0 10px;
	}
	}
.terrenos-home{
	display: block;
	padding: 13% 17% 0 17%;
	@media screen and (max-width: 1440px){
		padding: 5% 15% 0 17%;
	}
	@media screen and (max-width: 1280px){
		padding: 3% 10% 0 10%;
	}
	small{
		display: block;
		font-family: $font-body-2;
		color: $c-secondary;
		text-transform: uppercase;
		padding: 15px 0;
		font-size: 1.2em;
		@media screen and (max-width: 1280px){
		padding: 7px 0;
		font-size: 1.1em;
	}
	}
	span{
		display: block;
		font-family: $font-title-2;
		color: $c-primary;
		padding: 25px 0 25px 0;
		font-size: 1.7em;
		line-height: 1.5;
		font-weight: 400;
	@media screen and (max-width: 1440px){
		padding: 5px 0 25px 0;
	}
	@media screen and (max-width: 1280px){
		padding: 15px 0 20px 0;
		font-size: 1.5em;
		line-height: 1.3;
	}
	}
	
	i{
		display:inline-block;
		font-size: 2.4em;
		width: 22%;
		margin: 3px;
		p{
			font-size:0.3em!important;
		}
	}
	a{
		display: block;
		margin-left: -56px;
	}
}
.country-home{
	display: block;
	padding: 15% 17% 0 17%;
	@media screen and (max-width: 1440px){
		padding: 5% 17% 0 17%;
	}
	@media screen and (max-width: 1280px){
		padding: 2% 17% 0 17%;
	}
	small{
		display: block;
		font-family: $font-body-2;
		color: $c-secondary;
		text-transform: uppercase;
		padding: 15px 0;
		font-size: 1.2em;
	}
	span{
		display: block;
		font-family: $font-title-2;
		color: $c-primary;
		padding: 25px 0 25px 0;
		font-size: 1.7em;
		line-height: 1.5;
		font-weight: 400;
	}
	
	a{
		display: block;
		margin-left: -56px;
	}
}

.alberca{
	display: block;
	position: absolute;
	margin: 0 auto;
	padding: 2% 2%;
	width: 60%;
	top: 33%;
	left: 20%;
	text-align: center;
	background-color: rgba(white,0.8);
	@media screen and (max-width: 1440px){
		padding: 2% 1%;
		width: 60%;
		top: 24%;
	}
	span{
		display: block;
		font-family: $font-title-2;
		color: $c-primary;
		padding: 25px 0 25px 0;
		font-size: 2em;
		line-height: 1.5;
		font-weight: 400;

	}
	p{
		color: $c-primary;
	}
}

.seguridad{
	display: block;
	position: absolute;
	margin: 40px auto;
	padding: 2% 2%;
	width: 80%;
	left: 12%;
	text-align: left;
	background-color: rgba(white,0.8);
	float: left;
	padding-top: 10px;
	@media screen and (max-width: 1440px){
	margin: 10px auto;
	padding: 1% 1%;
	width: 95%;
	left: 5%;
	text-align: left;
	background-color: rgba(white,0.8);
	float: left;
	padding-top: 2px;
	}
	div.parrafo{
		padding: 10px;
		width: 50%;
		float: left;
	@media screen and (max-width: 1440px){
		padding: 1px;
	}
	}
	i{
		font-size: 3.1em;
		color: $c-primary;
		display: block;
	}
	small{
		font-size: 1.5em;
		color: $c-secondary;
		font-family: $font-body-2;
		text-align: left;
		padding: 8px 0;
		display: block;
	}
	p{
		text-align: left;
	}
}

.separator-left{
	border-left: 1px solid $c-secondary;
}
.separator-right{
	border-right: 1px solid $c-secondary;
}
.separator-bottom{
	border-bottom: 1px solid $c-secondary;
}
.separator-top{
	border-top: 1px solid $c-secondary;
}

.title-jamon{
	display: block;
		font-family: $font-title;
		color: $c-secondary;
		font-weight: $font-semibold;
		text-transform: uppercase;
		font-size: 1.5em;
		text-align: center;
		color: $c-primary;
}
.galery-item{
	width: 33.3333%;
	float: left;
	@media screen and (min-width: 1440px){
		width: 33.3333%;
		}
	@media screen and (min-width: 1280px){
		width: 33.3333%;
		}
	@media screen and (min-width: 1024px){
		width: 32.9%;
		}
	@media screen and (max-width: 768px){
		width: 50%;
		}
}

.slogan{
	display: block;
	margin: 0 auto;
	font-size: 8em;
	text-align: center;
}

.slogan-end{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 6% 0;
	small{
		font-size:2em;
		color: white;
		font-family: $font-title;
		text-align: center;
		padding: 8px 0;
		display: block;
	}
	span{
		display: block;
		font-family: $font-title;
		color: $c-primary;
		padding: 15px 0 15px 0;
		font-size: 1.5em;
		line-height: 1;
		font-weight: 400;
	}
	i{
		font-size: 3em;
		color: $c-tertiary;
	}
}

.box-reset{
	padding-left: 0 !important;
	padding-right: 0 !important;
	.row{
		margin-left: 0;
		margin-right: 0;
		> *{
			padding-left: 0;
			padding-right: 0;
		}
	}
}
// Box table
.box-table{
	@include box-table;
}
// Children alineados verticalmente
.child-inline{
	> *{
		display: inline-block;
		vertical-align: middle;
		margin-left: -0.375em;
		&:first-child{
			margin-left: 0;
		}
	}
}

.services-genre{
	margin-top: 0em;
	&-item + &-item{
		margin-top:0px;
	}
	&-description{
		@include horizontal-center;
		text-align: left;
		color: $c-secondary;
		z-index: 10000;
		padding-top: 0;
		left: 50%;
	}
	&-summary{
		padding-top: 6em;
		margin-top: 7em;
		z-index: 10000;
	}
	a.button-flat{
		@include font-size(1.2);
		text-transform: uppercase;
		z-index: 10000;
	}
}

@media screen and (min-width: 1280px){
 		.services-genre{
		margin-top: 0em;
		&-item + &-item{
			margin-top:0px;
		}
		&-description{
			@include horizontal-center;
			text-align: left;
			color: $c-secondary;
			z-index: 10000;
			padding-top: 11%;
			left: 40%;
		}
		&-summary{
			padding-top: 1em;
			margin-top: 0em;
			z-index: 10000;
		}
		a.button-flat{
			@include font-size(1.2);
			text-transform: uppercase;
			z-index: 10000;
		}
	}
}
@media screen and (min-width: 1920px){
		.services-genre{
		margin-top: 0em;
		&-item + &-item{
			margin-top:0px;
		}
		&-description{
			@include horizontal-center;
			text-align: left;
			color: $c-secondary;
			z-index: 10000;
			padding-top: 10%;
			left: 40%;
		}
			&-summary{
			padding-top:0;
			margin-top: 1em;
			z-index: 10000;
		}
		a.button-flat{
			@include font-size(1.2);
			text-transform: uppercase;
			z-index: 10000;
		}
	}
}
.contenedor-destacados{
	display: block;
	margin: 0 auto;
	img{
		display: block;
		margin: 0 auto;
	}
}
.brands-home-wrapper{
	box-shadow: 0 0 20px rgba(black,0.1);
}
.brand-item{
	&-image-gray,
	&-image-color{
		display: block;
		cursor: pointer;
	}
	&-image-gray{
		width: 90%;
	}
	&-image-color{
		width: 90%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity $animate-time*2;
	}
	&-caption-wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		@include font-size(0.7);
		background-color: rgba(white,0.95);
		opacity: 0;
		transition: opacity $animate-time*3;
		@media screen and (min-width: $screen-sm-min){
			@include font-size(0.7);
		}
		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			width: 200%;
		}
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
			@include font-size(0.8);
		}	
		@media screen and (min-width: $screen-xxl-min){
			@include font-size(0.825);
		}
		@media screen and (min-width: $screen-hd-min){
			@include font-size(0.85);
		}
	}
	&-caption{
		width: 90%;
		@include absolute-center;
		@media screen and (min-width: $screen-xl-min){
			width: 80%;
		}
		h5{
			@include font-size(0.8);
			@media screen and (min-width: $screen-lg-min){
				display: none;
			}
		}
		p{
			margin-bottom: 5px;
		}
	}
	&-features{
		padding-left: 1.5em;
		font-weight: $font-bold;
		list-style-type: disc;
		color: $c-secondary;
		text-align: left;
	}
	&.brand-enginia &-caption-wrapper{
		@media screen and (min-width: $screen-md-min){
			left: 100%;
		}
	}
	&.brand-sikla &-caption-wrapper{
		@media screen and (min-width: $screen-sm-min){
			left: -100%;
		}
	}
	&.brand-zylentek &-caption-wrapper{
		@media screen and (min-width: $screen-md-min){
			left: 100%;
		}
	}
	&.brand-ductmate &-caption-wrapper{
		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max){
			left: -100%;
		}
		@media screen and (min-width: $screen-lg-min){
			top: -100%;
		}
	}
	&.brand-gripple &-caption-wrapper{
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
			left: 100%;
		}
		@media screen and (min-width: $screen-lg-min){
			top: -100%;
		}
	}

	&:hover &-image-color,
	&:hover &-caption-wrapper{
		opacity: 1;
		z-index: 3;
	}
}
.selectos-contain{
	display: block;
	.selectos-info{
		display: block;
		margin: 0 auto;
		padding: 30px;
		margin: 30px;
		text-align: center;
		background-color: rgba($c-secondary,0.5);
		border: 1px solid $c-tertiary;
		small{
			font-size: 2em;
			color: $c-tertiary;
			display: block;
			margin: 0 auto;
			font-family: $font-title;
		}
		span{
			font-size: 1em;
			color: $c-tertiary;
			display: block;
			margin: 0 auto;
			padding: 10px 0;
		}
		i{
			display: block;
			margin: 5px auto;
			color: $c-tertiary;
			font-size: 2em;
		 }
	}
}