/*--------------------Site Header - Internal page--------------------*/
.site-header.site-header--internal-page{
	background-color: $c-tertiary;
}

/*--------------------Site Main - Internal page--------------------*/
.site-main--internal-page{
	margin-top: $header-height-bs;
	@media screen and (min-width: $screen-md-min){
		margin-top: $header-height-md;
	}
	@media screen and (min-width: $screen-lg-min){
		margin-top: $header-height-lg;
	}
}

/*--------------------Header to Internal, Product list, Product detail--------------------*/
.internal-page-header{
	@include padding-v(15);
	.bread-crumbs{
		+ h1{
			@include margin-v(15,0);
		}
	}
}
.product-list-page-header{
	@include padding-v(15);
	.bread-crumbs{
		+ h1{
			@include margin-v(15,0);
		}
	}
}
.product-detail-page-header{
	@include padding-v(10,0);
	.bread-crumbs{
		+ h1{
			@include margin-v(15,0);
		}
	}
}

/*--------------------Tag Titles--------------------*/
.tag-subtitle{
	display: block;
	font-family: $font-title;
	@include font-size(1.25);
	line-height: 1.2;
	text-transform: uppercase;
	color: $c-secondary;
	@media screen and (min-width: $screen-xxl-min){
		@include font-size(1.5);
	}
	span,
	strong{
		display: inline-block;
		vertical-align: middle;
	}
	strong{
		font-family: $font-title;
		font-size: 1.5em;
		font-weight: $font-bold;
		color: inherit;
		display: block;
	}
	img{
		display: block;
	}
}

/*--------------------Borders whit gradient--------------------*/
.border-gradient-v{
	@include border-gradient-short(vertical,right);
}
.border-gradient-top{
	@include border-gradient-short(top,right);
}
.border-gradient-top-left{
	@include border-gradient-short(top,left);
}
.border-gradient-bottom{
	@include border-gradient-short(bottom,right);
}
.border-gradient-bottom-left{
	@include border-gradient-short(bottom,left);
}
.border-gradient-left{
	@include border-gradient-short(left)
}
.border-gradient-right{
	@include border-gradient-short(right)
}

/*--------------------Font Gradient--------------------*/
.font-gradient{
	color: $c-primary;
	background: -webkit-gradient(linear, left top, right bottom, from($c-primary), to($c-secondary));
	// -webkit-background: linear-gradient(to right, $c-web, $c-ecommerce, $c-marketing, $c-social);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}