@charset "UTF-8";
/*!

	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------
	
					•• Importante - Para editar este CSS utiliza el archivo fuente SCSS ••				
								ivanluna.re@outlook.com | ivan@vicom.mx
	
	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------

*/

// Breakpoints - Min
$screen-bs-min:				240px;
$screen-xs-min:				320px;
$screen-sm-min:				480px;
$screen-md-min:				768px;
$screen-lg-min:				1024px;
$screen-xl-min:				1280px;
$screen-xxl-min:			1440px;
$screen-hd-min:				1920px;
// Breakpoints - Max
$screen-bs-max:				$screen-xs-min - 1; // 319px
$screen-xs-max:				$screen-sm-min - 1; // 479px
$screen-sm-max:				$screen-md-min - 1; // 767px
$screen-md-max:				$screen-lg-min - 1; // 1023px
$screen-lg-max:				$screen-xl-min - 1; // 1279px
$screen-xl-max:				$screen-xxl-min - 1; // 1439px
$screen-xxl-max:			$screen-hd-min - 1; // 1919px

// Width to .re-central
$re-central-width-bs: 		94%;
$re-central-width-xs: 		94%;
$re-central-width-sm: 		92%;
$re-central-width-md: 		90%;
$re-central-width-lg: 		($screen-lg-min * 0.9);
$re-central-width-xl: 		($screen-xl-min * 0.9);
$re-central-width-xxl: 		($screen-xxl-min * 0.875);
$re-central-width-hd: 		($screen-hd-min * 0.8);

// Typography
$font-title:				'PT Serif', serif;
$font-title-2:				'Playfair Display', serif;
$font-body:					'Libre Franklin', sans-serif;
$font-body-2:				'Open Sans Condensed', sans-serif;
$font-number:				'Open Sans Condensed', sans-serif;

// Font Weight
$font-thin:					100;
$font-x-light:				200;
$font-light:				300;
$font-regular:				400;
$font-medium:				500;
$font-semibold:				600;
$font-bold:					700;
$font-x-bold:				800;
$font-black:				900;

// Color Palette
$c-primary:					#f70303;
$c-primary-l10:				lighten($c-primary,10);
$c-primary-d10:				darken($c-primary,10);
$c-secondary:				#0b0b0b;
$c-secondary-l10:			lighten($c-secondary,10);
$c-secondary-d10:			darken($c-secondary,10);
$c-tertiary:				#d5d392;
$c-fourth:					#e4c6a2;
$c-text:					#535256;
$c-text-l10:				lighten($c-text,10);
$c-text-l20:				lighten($c-text,20);
$c-text-l30:				lighten($c-text,30);
$c-text-l40:				lighten($c-text,40);
$c-text-d10:				darken($c-text,10);
$c-lightgray:				#eeeeee;
$c-lightgray-l-1:			lighten($c-lightgray,2); //f3f3f3
$c-lightgray-l-2:			lighten($c-lightgray,4); //f8f8f8
$c-lightgray-d10:			darken($c-lightgray,10); //dcdcdc
$c-lightgray-d30:			darken($c-lightgray,30); //a4a4a4
$c-dark:					#2c3137;
$c-link-default:			#1b96e4;
$c-invalido:				#dd1c47;

// z-index
$z-brand:					40;
$z-header:					20;
$z-nav-mobile:				30;
$z-nav-desktop:				30;
$z-main:					1;
$z-footer:					15;

// Header - Height
$header-height-bs:			60px;
$header-height-md:			110px;
$header-height-lg:			175px;
// Header fixed - Height
$header-height-lg-fixed:	100px;
$header-height-xxl-fixed:	105px;
// Header - Difference to element positions
$header-difference:			15px;

// Gutter
$re-gutter:					15px;
// Animation Time
$animate-time:				0.2s;

// Breakpoints - Map
$grid-breakpoints: (
	bs:						(min: $screen-bs-min, max: $screen-bs-max),
	xs:						(min: $screen-xs-min, max: $screen-xs-max),
	sm:						(min: $screen-sm-min, max: $screen-sm-max),
	md:						(min: $screen-md-min, max: $screen-md-max),
	lg:						(min: $screen-lg-min, max: $screen-lg-max),
	xl:						(min: $screen-xl-min, max: $screen-xl-max),
	xxl:					(min: $screen-xxl-min, max: $screen-xxl-max),
	hd:						(min: $screen-hd-min, max: 10000px)
);

// Color Palette - Map
$color-palette-map: (
	'primary':				(color: $c-primary, color-dark: darken($c-primary,10), font: white,),
	'secondary':			(color: $c-secondary, color-dark: darken($c-secondary,10), font: white,),
	'tertiary':			(color: $c-tertiary, color-dark: darken($c-tertiary,10), font: white,),
	'fourth':			(color: $c-fourth, color-dark: darken($c-fourth,10), font: white,),
	'dark':					(color: $c-dark, color-dark: darken($c-dark,10), font: $c-secondary,),
	'lightgray-d10':		(color: $c-lightgray-d10, color-dark: darken($c-lightgray-d10,10), font: white,),
	'white':				(color: white, color-dark: darken(white,10), font: black,),
	'black':				(color: black, color-dark: black, font: white,)
);

// Color Palette - List
$color-palette-list: 
	primary					$c-primary 		$c-primary-d10,
	secondary				$c-secondary 	$c-secondary-d10,
	white					white 			white,
	black					black 			black
;

// Font-weight - List
$font-weight-list: (
	(thin, 100),
	(x-light, 200),
	(light, 300),
	(regular, 400),
	(medium, 500),
	(semibold, 600),
	(bold, 700),
	(x-bold, 800),
	(black, 900)
);