/*--------------------Typographies--------------------*/
// Titles
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@font-face {
	font-family: 'NovecentoSansWide-Normal';
	src:	url('../fonts/NovecentoSansWide-Normal.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/NovecentoSansWide-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NovecentoSansWide-Normal.otf')  format('opentype'),
			url('../fonts/NovecentoSansWide-Normal.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NovecentoSansWide-Normal.woff') format('woff'), /* Pretty Modern Browsers */
			url('../fonts/NovecentoSansWide-Normal.ttf') format('truetype'), /* Safari, Android, iOS */
			url('../fonts/NovecentoSansWide-Normal.svg#NovecentoSansWide-Normal') format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}
// Body text
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
// Numbers (if it is necessary)
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');
