/*--------------------Bread Crumbs--------------------*/
.bread-crumbs{
	display: none;
	@include padding-v(5);
	@include border-v;
	overflow: hidden;
	@include font-size(.7);
	@media only screen and (min-width: $screen-bs-min){
		display: block;
	}
	a,
	mark{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		@include padding-h(3);
		font-weight: $font-regular;
	}
	a{
		color: $c-text;
		background-color: white;
		&:after{
			content: '';
			width: 0px;
			height: 0px;
			display: inline-block;
			vertical-align: middle;
			border-style: solid;
			border-width: 4px 0 4px 4px;
			border-color: transparent transparent transparent $c-lightgray-d30;
			margin-left: 6px;
		}
	}
	mark{
		color: $c-text-l40;
	}
}