/*--------------------Button Wrapper--------------------*/
.button-wrapper{
	display: block;
	margin-top: $re-gutter;
}

/*--------------------General Settings to Buttons--------------------*/
.button-lineal,
.button-flat,
.button-push{
	cursor: pointer;
	// To icons
	> i{
		margin-right: 0.5em;
	}
}

/*--------------------Button Lineal--------------------*/
.button-lineal{
	width: auto;
	display: inline-block;
	padding: .25em 1.25em;
	border-width: 1px;
	border-style: solid;
	border-radius: 30px;
	margin: 0 auto;
	@include font-size;
	text-align: center;
	background-color: transparent;
	@each $color,$value in $color-palette-map {
		&.#{$color} {
			border-color: map-get($value,color);
			color: map-get($value,color);
			box-shadow: inset 0 0 0 map-get($value,color),
						inset 0 0 0 map-get($value,color);
			transition: color .3s, box-shadow .3s;
		}
		&.#{$color}:hover{
			color: map-get($value,font);
			box-shadow: inset 300px 0 0 map-get($value,color),
						inset -300px 0 0 map-get($value,color);
		}
	}
}

/*--------------------Button Flat--------------------*/
.button-flat{
	width: auto;
	display: inline-block;
	padding: .5em 2em;
	border-radius: 20px;
	margin: 0 auto;
	@include font-size;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	transition: background-color .2s;
	&:hover{
		text-decoration: none;
	}
	@each $color,$value in $color-palette-map {
		&.#{$color} {
			color: map-get($value,font);
			background-color: map-get($value,color);
		}
		&.#{$color}:hover {
			background-color: map-get($value,color-dark);
		}
	}
}

.button-lineal-2{
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  position: relative;
  
  width: 200px;
  height: 50px;
  padding: 17px 26px 10px 0px;
  color: $c-secondary;
  transition: all ease .5s;
}

.button-lineal-2:hover{
  color: $c-tertiary;
  text-decoration: none;
}

.button-lineal-2:before{
  content: "";
  position: relative;
  border-bottom: 1px solid darken($c-secondary,5%);
  width: 30px;
  height: 1px;
  left: 110px;
  top: 19px;
  float: left;
  transition: all ease .7s;
}

.button-lineal-2:hover:before{
  left: 265px;
    text-decoration: none;
}




.button-content {
   position: relative;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 2.2em;
   cursor: pointer;
   max-width: 60%;
   text-transform: uppercase;
   padding-bottom: 20px;
   border-bottom: 1px solid darken($c-primary,3%);
  
    .line {
      position: absolute;
      width: 0%;
      height: 1px;
      background: $c-secondary;
      top: 58px;
      left: 0;
      display: block;
      transition: width 1s ease;
      z-index: 10;
    }
  
    &:hover .line {
     width: 100%; 
  }
}
.button-etiqueta{
	width: auto;
	display: inline-block;
	padding: .5em 2em;
	border-radius: 20px;
	margin: 0 auto;
	@include font-size;
	text-align: center;
	text-transform: uppercase;
	background-color: $c-primary;
	transition: background-color .2s;
	z-index: 11000;
	&:hover{
		text-decoration: none;
	}
	@each $color,$value in $color-palette-map {
		&.#{$color} {
			color: map-get($value,font);
			background-color: map-get($value,color);
		}
		&.#{$color}:hover {
			background-color: map-get($value,color-dark);
		}
	}
}
.button-line{
	width: auto;
	display: inline-block;
	padding: .5em 1em;
	margin: 0 auto;
	color: white;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: $c-secondary;
	transition: all .5s ease;
	@each $color,$valor in $color-palette-map {
		&.#{$color} {
			border-bottom-color: $c-tertiary;
			border-top-color: $c-tertiary;
			color: $c-tertiary;
		}
		&.#{$color}:hover {
			text-decoration: none;
			color: #969494;
			background-color: rgba($c-primary,0.2);
		}
	}
}