/*--------------------Dropdown - Dropup--------------------*/
.dropup,
.dropdown{
	position: relative;
	&:hover{
		background-color: white;
		> a{
			color: $c-link-default;
		}
	}
	> a{
		color: $c-text;
	}
}

.dropdown-menu{
	width: 230px;
	display: none;
	position: absolute;
	left: -1px;
	text-align: left !important;
	border-left: 1px solid $c-lightgray-d10;
	border-right: 1px solid $c-lightgray-d10;
	background-color: white;

	.dropup:hover &,
	.dropdown:hover &{
		display: block;
	}

	> li{
		display: block;
		> a{
			display: block;
			padding: 0.4em 0.5em;
			color: $c-text;
			&:hover{
				color: $c-link-default;
			}
		}
	}
}

.dropdown{
	.dropdown-menu{
		top: 100%;
		border-bottom: 1px solid $c-lightgray-d10;
	}
}
.dropup{
	.dropdown-menu{
		bottom: 100%;
		border-top: 1px solid $c-lightgray-d10;
	}
}