/*--------------------Forms--------------------*/
form{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	color: $c-text;
}
fieldset{
	padding: 1% 4% 2% 4%;
	border: 1px dotted $c-lightgray-d30;
	& + fieldset{
		margin-top: $re-gutter;
	}
}
legend{
	width: auto;
	padding: 0 3%;
	@include font-size(1.3);
	font-weight: $font-semibold;
	color: $c-text-d10;
	text-transform: uppercase;
}
// Control wrappers
form, 
fieldset{
	> div,
	.control-wrapper{
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-bottom: 5px;
		@media only screen and (min-width: $screen-xs-min){
			&.float-left, 
			&.float-right{
				width: 48%;
			}
		}
	}
	.current-data{
		// border-bottom: 1px solid $c-gray;
		label{
			// @include font-size(0.8);
		}
	}
	div.captcha{
		background: none;
		> input[type="text"]{
			width: 50%;
			float: right;
			clear: none;
			border: 1px solid $c-primary;
			margin-top: 20px;
		}
		> img{
			width: 45%;
			display: block;
			float: left;
		}
		> a{
			position: absolute;
			top: 0;
			right: 65%;
			cursor: pointer;
		}
	}
	div.send{
		overflow: hidden;
		clear: both;
		margin-bottom: 0;
		margin-top: 10px;
	}
}
// Labels & Controls
label{
	// display: block;
	// float: left;
	border: none;
	font-weight: $font-medium;
	color: $c-text-d10;
	line-height: 25px;
	span{
		height: 25px;
		margin-left: 2px;
		font-family: $font-number;
		font-weight: $font-light;
		color: $c-primary;
	}
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="color"],
select,
textarea{
	width: 100%;
	height: 30px;
	display: block;
	clear: both;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	border: 1px solid $c-lightgray-d10;
	@include font-size;
	font-weight: $font-regular;
	color: $c-text;
	background: white;
	@include placeholder($c-text-l20);
	transition: all .5s ease;
	&:focus{
		// border: 1px solid $c-primary;
	}
	&.touched:invalid{
		border: 1px dashed $c-invalido;
		box-shadow: none;
	}
}
input[type="file"]{
	height: 32px;
}
input[type="checkbox"],
input[type="radio"]{
	// float: left;
	margin: 5px 5px 0 0;
}
textarea{
	height: 80px;
}

// Validate
.error{
	display: block;
	color: $c-invalido;
}
label.error{
	@include font-size(0.7);
	font-weight: $font-regular;
	color: $c-invalido;
}
input.error,
textarea.error{
	border-color: lighten($c-invalido,25);
}

// Alerts
.alert{
	overflow: hidden;
	@include padding-v(10);
	@include margin-v(5);
	@include font-size;
	color: darken($c-text,10);
	text-align: center;
	border-width: 1px;
	border-style: solid;
	&.info{
		color: lighten($c-text,10);
		border-color: lighten($c-text,10);
		background-color: rgba(lighten($c-text,10),0.05);
	}
	&.success{
		color: $c-primary;
		border-color: $c-primary;
		background-color: rgba($c-primary,0.05);
	}
	&.error,
	&.danger{
		color: $c-invalido;
		border-color: $c-invalido;
		background-color: rgba($c-invalido,0.05);
	}
	span{
		color: darken($c-text,10);
		font-weight: $font-medium;
	}
}

// General searcher
.searcher-wrapper{
	width: 100%;
	overflow: hidden;
	border-radius: 30px;
	@include margin-v(10);
	// background-color: $c-lightgray;
}
.search-form{
	position: relative;
	div.field-wrapper{
		margin-bottom: 0;
	}
	input,
	button{
		@include font-size(0.7);
		font-weight: $font-bold;
		text-transform: uppercase;
	}
	input[type="text"]{
		height: 37px;
		@include padding-v(3,0);
		@include padding-h(1.5,9, $unit: em);
		border-color: transparent;
		line-height: 37px;
		background-color: white;
		@include placeholder($c-text-l30);
	}
	button{
		width: 8em;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		color: white;
		background-color: lighten($c-dark,25);
	}
}

/*-----Tours diversion-----*/
.tours-diversion{
	&-form-wrapper{
		@include padding-v(35,70);
		border-top: 5px solid $c-secondary;
		background-color: rgba($c-secondary,0.5);
		@media screen and (min-width: $screen-bs-min){
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 500;
		}
	}
	&-form{
		width: 90%;
		@include horizontal-center-auto;
		@media screen and (min-width: $screen-sm-min){
			width: 70%;
		}
		@media screen and (min-width: $screen-xl-min){
			width: 60%;
		}
		fieldset{
			overflow: hidden;
			padding: 0;
			border-radius: 30px;
			border: none;
			margin-top: 2em;
		}
		legend{
			width: 100%;
			position: absolute;
			top: 0;
			margin-bottom: 0;
			@include font-size(1);
			text-align: center;
			color: white;
		}
		.control-wrapper{
			float: left;
			margin-bottom: 0;
			@media screen and (min-width: $screen-xs-min){
				width: 28.33%;
			}
			&:nth-child(2):before{
				display: none;
			}
			&:before{
				content: '';
				width: 1px;
				height: 25px;
				@include vertical-center;
				left: 5px;
				background-color: darken($c-lightgray,20);
			}
		}
		select,
		input{
			height: 40px;
			@include font-size(0.8);
			font-weight: $font-bold;
			line-height: 40px;
			text-transform: uppercase;
		}
		select{
			@include padding-h(1, $unit: em);
			border: none;
			text-align: center !important;
			text-align-last: center;
			color: $c-text-l10;
		}
		option{
			text-align: center !important;
		}
		.send{
			width: 50%;
			margin: 0 auto;
			text-align: center;
			@media screen and (min-width: $screen-xs-min){
				width: 15%;
				clear: none;
				float: right;
				margin-top: 0;
				margin-right: 0;
			}
		}
		.button-flat{
			width: 100%;
			@include padding-v(0);
			@include padding-h(0);
			border-radius: 0;
			margin-top: 0;
		}
	}
}