/*--------------------Icon Fonts--------------------*/
/* @font-face {
	font-family: "iconos";
	src:	url("../fonts/iconos.eot");
	src:	url("../fonts/iconos.eot?#iefix") format("embedded-opentype"),
			url("../fonts/iconos.woff") format("woff"),
			url("../fonts/iconos.ttf") format("truetype"),
			url("../fonts/iconos.svg#iconos") format("svg");
	font-weight: normal;
	font-style: normal;
} */
[data-icon]:before{
	font-family: "iconos" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before{
	position: relative;
	top: .15em;
	// font-family: "iconos" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-with-text"],
[class*=" icon-with-text"]{
	margin-right: 0.25em;
}
.icon-block{
	margin-right: 0;
	&:before{
		// display: block;
		top: 0;
	}
}
// .icon-mail:before {
// 	content: "\e000";
// }
// .icon-phone:before {
// 	content: "\e001";
// }

/*---------------------Sprite Icons Additional--------------------------------*/
$icons-additional: (
	visa:				(width: 138px, height: 45px, position-y: 0px),
	mastercard:			(width: 87px, height: 68px, position-y: 45px),
	amex:				(width: 92px, height: 58px, position-y: 113px),
	safepay:			(width: 150px, height: 65px, position-y: 171px),
	norton:				(width: 73px, height: 40px, position-y: 236px),
	amipci:				(width: 60px, height: 36px, position-y: 277px),
);
.icons-additional {
	$sprite-width: 200px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/icons/icons-additional.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: $sprite-width*1 auto;

	@at-root %icons-additional-policies{
		background-size: $sprite-width*0.5 auto;
		@media screen and (min-width: $screen-md-min){
			background-size: $sprite-width*0.7 auto;
		}
		@media screen and (min-width: $screen-lg-min){
			background-size: $sprite-width*1 auto;
		}
	}
	@each $brand, $value in $icons-additional {
		@at-root .icon-#{$brand} {
			@extend %icons-additional-policies;
		}
		@at-root .icon-#{$brand} {
			width: map-get($value,width)*0.5;
			height: map-get($value,height)*0.5;
			background-position: (0) (- map-get($value,position-y))*0.5;
			// Medium
			@media screen and (min-width: $screen-md-min){
				width: map-get($value,width)*0.7;
				height: map-get($value,height)*0.7;
				background-position: (0) (- map-get($value,position-y))*0.7;
			}
			// Large - Original size
			@media screen and (min-width: $screen-lg-min){
				width: map-get($value,width)*1;
				height: map-get($value,height)*1;
				background-position: (0) (- map-get($value,position-y))*1;
			}
		}
	}
}