/*--------------------Links--------------------*/
a.link{
	@include font-size;
	font-weight: $font-medium;
	color: $c-link-default;
	&:hover{
		text-decoration: underline;
	}
	@each $color, $value in $color-palette-map{
		&.#{$color} {
			color: map-get($value,color);
		}
	}

	> i{
		margin-right: 5px;
	}
}