/*--------------------Modals - Setting Bootstrap Component--------------------*/
// Modals
body.modal-open{
	padding-right: 0 !important;
	overflow: auto;
	.modal {
		overflow-y: auto;
		padding-right: 0 !important;
		z-index: 1000000;
	}
}
.modal-header,
.modal-body,
.modal-footer{
	padding: 15px 20px;	
}
.modal-header {
	position: relative;
	border-bottom: 1px solid $c-lightgray;
	.modal-title {
		padding-right: 10px;
		color: $c-text;
	}
	> .close {
		margin-top: 0;
	}
}
.modal-body {
	@include font-size(0.9);
}
.modal-footer {
	border-top: 1px solid $c-lightgray;
}

.close{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
}