/*--------------------Pagination--------------------*/
.pagination{
	$size-num: 25px;
	width: 100%;
	height: $size-num;
	clear: both;
	margin: $re-gutter 0;
	@include font-size(0.8);
	text-align: right;
	a,
	b{
		width: $size-num;
		height: $size-num;
		display: inline-block;
		margin: 0;
		font-weight: $font-regular;
		text-align: center;
		line-height: $size-num;
		box-shadow: inset 0 0 0 1px $c-lightgray;
	}
	a{
		color: $c-text;
		background-color: $c-lightgray-l-1;
		transition: box-shadow .2s ease;
		&:hover{
			box-shadow: inset 0 0 0 3px $c-lightgray;
		}
	}
	b{
		color: white;
		background-color: $c-primary;
		box-shadow: none;
	}
}