/*--------------------Previos / Next--------------------*/
.ant-sig{
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 15;
	margin-top: 20px;
	text-align: center;
	div{
		width: 13em;
		max-width: 100%;
		height: 40px;
		display: block;
		position: relative;
		float: left;
		&.ant{float: left;}
		&.sig{float: right;}
		figure{
			max-width: 70px;
			display: none;
			position: absolute;
			@media screen and (-webkit-min-device-pixel-ratio: 0){ 
				width: 70px;
			}
			img{
				max-width: 100%;
				max-height: 70px;
				display: block;
				border-radius: 5px;
				box-shadow: 0 0 3px rgba(0,0,0,.2);
			}
		}
		&:hover figure, 
		&:active figure, 
		&:focus figure{
			display: block;
		}
		a{
			width: 13em;
			max-width: 100%;
			height: 40px;
			position: relative;
			padding: 0 10px;
			border: 1px solid $c-lightgray-d30;
			margin: 0 auto;
			color: $c-lightgray-d30;
			text-align: center;
			line-height: 40px;
			transition: border-color .5s;
			&.ant, &.sig{
				border-radius: 7px;
			}
			&:hover{
				border: 1px solid $c-primary;
				color: $c-primary;
			}

			&.ant{
				float: left;
				padding-left: 30px;
			}
			&.sig{
				float: right;
				padding-right: 30px;
			}
			&.ant:before,
			&.sig:after{
				width: 25px;
				position: absolute;
				top: -1px;
				bottom: -1px;
				color: white;
				line-height: 37px;
				background-color: $c-lightgray-d30;
				transition: background .5s;
			}
			&.ant:before{
				left: -1px;
				border-radius: 7px 0 0 7px;
				content: "<";
			}
			&.sig:after{
				right: -1px;
				border-radius: 0 7px 7px 0;
				content: ">";
			}

			&.ant:hover:before,
			&.sig:hover:after{
				background: $c-primary;
			}
		}
	}
}

@media only screen and (min-width: 568px) {
.ant-sig{
	div.ant figure{
		bottom: 0;
		left: 100%;
		margin-left: 10px;
	}
	div.sig figure{
		bottom: 0;
		right: 100%;
		margin-right: 10px;
	}
}
}

@media only screen and (max-width: 568px) {
.ant-sig{
	margin-top: 10px;
	div a{
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
	}
	div.ant{
		margin-bottom: 10px;
	}
}
}
@media only screen and (max-width: 568px) and (min-width: 401px) {
.ant-sig{
	div.ant{
		float: none;
		margin: 0 auto 10px auto;
		figure{
			top: 0;
			right: 100%;
			margin-right: 10px;
		}
	}
	div.sig{
		float: none;
		margin: 0 auto;
		figure{
			bottom: 0;
			left: 100%;
			margin-left: 10px;
		}
	}
}
}
@media only screen and (max-width: 400px) {
.ant-sig{margin: 30px 0 10px 0;}
}
@media only screen and (max-width: 400px) and (min-width: 320px) {
.ant-sig{
	div.ant{
		figure{
			bottom: 0;
			left: 100%;
			margin-left: 10px;
		}
	}
	div.sig{
		figure{
			top: 0;
			right: 100%;
			margin-right: 10px;
		}
	}
}
}
@media only screen and (max-width: 319px) {
.ant-sig{
	div.ant{
		figure{
			bottom: 45px;
			right: 0;
			margin-left: 0;
		}
	}
}
.ant-sig{
	div.sig{
		figure{
			top: 45px;
			left: 0;
			margin-right: 0;
		}
	}	
}
}
