/*--------------------Slider Main--------------------*/
.main-slider-fullscreen{
	position: relative;
	.container-slider-mobile-portrait{
		@media screen and (orientation: landscape){
			display: none !important;
		}
	}
	.container-slider-mobile-landscape{
		@media screen and (orientation: portrait){
			display: none !important;
		}
	}

	.icon-scroll-down{
		@include horizontal-center;
		bottom: 5px;
		z-index: 550;
		@include font-size(2.5);
		text-decoration: none;
		color: white;
		animation: arrowDown 0.8s alternate infinite;
		cursor: pointer;
	}

	@keyframes arrowDown {
		from{
			bottom: 5px;
		}
		to {
			bottom: 15px;
		}
	}

}

.slider-mobile-portrait,
.slider-mobile-landscape,
.slider-desktop-landscape{
	width: 100%;
	display: none;
	position: relative;

	a.font-primary{
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 0.8rem !important;
		color: black !important;
	}
}