/*--------------------Tooltips--------------------*/
[data-tooltip],
.tool-tip {
	position: relative;
	cursor: pointer;
	// Base styles for the entire tooltip
	&:before,
	&:after {
		position: absolute;
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		transition: opacity 0.2s ease-in-out,
					visibility 0.2s ease-in-out,
					transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
		transform:         translate3d(0, 0, 0);
		pointer-events: none;
	}
	// Show the entire tooltip on hover and focus
	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		visibility: visible;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	
	// Base styles for the tooltip's directional arrow
	&:before {
		z-index: 1001;
		border: 6px solid transparent;
		background: transparent;
		content: "";
	}

	// Base styles for the tooltip's content area
	&:after {
		z-index: 1000;
		padding: 8px;
		width: 160px;
		background-color: rgba($c-primary,0.8);
		color: #fff;
		content: attr(data-tooltip);
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
	}
}


/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tool-tip:before,
.tool-tip:after,
.tool-tip-top:before,
.tool-tip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tool-tip:before,
.tool-tip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: rgba($c-primary,0.8);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tool-tip:after,
.tool-tip-top:after {
	margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tool-tip:hover:before,
.tool-tip:hover:after,
.tool-tip:focus:before,
.tool-tip:focus:after,
.tool-tip-top:hover:before,
.tool-tip-top:hover:after,
.tool-tip-top:focus:before,
.tool-tip-top:focus:after {
	transform:         translateY(-12px); 
}

/* Bottom */
.tool-tip-bottom{
	&:before,
	&:after {
		top: 100%;
		bottom: auto;
		left: 50%;
	}

	&:before {
		margin-top: -12px;
		margin-bottom: 0;
		border-top-color: transparent;
		border-bottom-color: rgba($c-primary,0.8);
	}

	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		transform:         translateY(12px); 
	}
}

/* Left */
.tool-tip-left{
	&:before,
	&:after {
		right: 100%;
		bottom: 50%;
		left: auto;
	}

	&:before {
		margin-left: 0;
		margin-right: -12px;
		margin-bottom: 0;
		border-top-color: transparent;
		border-left-color: rgba($c-primary,0.8);
	}

	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		transform:         translateX(-12px); 
	}
}

/* Right */
.tool-tip-right{
	&:before,
	&:after {
		bottom: 50%;
		left: 100%;
	}

	&:before {
		margin-bottom: 0;
		margin-left: -12px;
		border-top-color: transparent;
		border-right-color: rgba($c-primary,0.8);
	}

	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		transform:         translateX(12px); 
	}
}

/* Move directional arrows down a bit for left/right tooltips */
.tool-tip-left:before,
.tool-tip-right:before {
	top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tool-tip-left:after,
.tool-tip-right:after {
	margin-left: 0;
	margin-bottom: -16px;
}