/*--------------------Video - [Re]sponsive--------------------*/
%video-responsive{
	width: 100%;
	height: 0;
	position: relative;
	iframe,
	embed,
	object,
	video{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.video-responsive{
	&-standar{
		@extend %video-responsive;
		padding-bottom: 75%;
	}
	&-hd{
		@extend %video-responsive;
		padding-bottom: 56.25%;
	}
	// Mask
	&-mask{
		height: 0;
		position: relative;
		padding-bottom: 30%;
		overflow: hidden;
	}
}