td .container{ width:auto !important; padding:0!important; position:relative; }
fieldset{min-width:100%}
th{text-align:center; vertical-align:middle !important}
body { 	font-family: Arial, Helvetica, sans-serif; }
* {  font-size:10pt; }

a { color:#ed743b;}

h1 { font-size:24px; line-height:60px!important; color:#ed743b!important; }
h2 { font-size:20px; line-height:60px!important;  color:#000!important; }


dt { font-size: 10pt; font-weight: bold; padding-left:10px; padding-right:10px; }


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block; height: 30px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: #555555; vertical-align: middle; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border:1px solid #ccc;
}


/*
.circlePopUp{

		-webkit-border-radius: 50%;

		-webkit-border-bottom-right-radius: 0;

		-moz-border-radius: 50%;

		-moz-border-radius-bottomright: 0;

		border-radius: 50%;

		border-bottom-right-radius: 0;

		background-color: #6BBCE9;

		height: 250px;

		width: 250px;

		border-color: #000;

		border-style: solid;

		border-width: 15px;

		top: 25%;

		right: 0;

		position: fixed;

		display: none;

		z-index: 4000;

	}

	.circlePopUp p{

		margin: 25% 10%;

		text-align: center;

		font-family: arial;

		font-size: 24px;

		font-weight: bold;

		color: #fff;

	}

	

	.circlePopUp a{color: #ffed4f;}
*/
	

figure { margin:0; }

.count-number { font-family: "Museo500Regular", Arial, Helvetica, Tahoma, sans-serif; font-size: 60px; font-weight:bold; color:#000;  }

.sf-count-asset h6.count-subject { padding-top: 12px; font-size:14px; }

.sf-count-asset .count-divider { width: 100%; text-align: center; height: 1px; margin-top: 15px; margin-bottom: 20px; }

.sf-count-asset .count-divider span { background: #e4e4e4; 	width: 0px; height: 1px; display: inline-block; }

.ico-count img { margin:30px 0; }



.btn-info { background:#26243a; border:#26243a; }
.btn-info:hover { background:#f3713d; border:#26243a; }


.btn-primary { background:#f3713d; border:#f3713d; }
.btn-primary:hover { background:#26243a; border:#26243a; }

.btn-success { background:#f3713d; border:#f3713d; }
.btn-success:hover { background:#26243a; border:#26243a; }

.btn-warning { background:#26243a; border:#26243a; }
.btn-warning:hover { background:#f3713d; border:#26243a; }


