.navbar .brand {
	background: url(img/layout/logo.png) no-repeat;
	width:188px;
	height:46px;
	padding:0;
	margin-top:20px;
}
.navbar .brand2 {
	background: url(img/layout/logo2.png) no-repeat;
	background-size:150px;
	width:155px;
	height:40px;
	padding:0;
	margin-top:-80px;
	display:block;
	position:absolute;
}
header {/* background: none repeat 0 0 rgba(0, 0, 0, 0.8);*/
	background:url(img/layout/negro80.png);
	min-height:100px;
	border-bottom:1px solid rgba(255, 255, 255, 0.3)
}
.ha-header {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.ha-header .brand {
	margin-top:22px;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.ha-header.hidden {
	min-height: 30px;
	margin-top:-43px;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.ha-header.hidden .brand {
	margin-top:-10px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.ha-header.hidden .brand2 {
	margin-top:46px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.ha-header.hidden #menuprimario .nav > li > a {
	padding:10px 15px ;
}



body {
	position:relative;
	padding-top: 0;
	padding-bottom: 0;
	font-size:13px;
	color:#555555;
	font-family:Arial;
}

input, button, select, textarea { font-family:Arial; }

/*titulos*/

h1 {
	font-size:30px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size:18px;
	line-height:normal;
}
.page-header {
	border-bottom:0;
}
.navbar .nav > li > a {
	color: #e5e5e5;
}
#menuprimario {
	clear:right;
	font-size:14px;
}
#menuprimario .nav > li > a {
	text-shadow:none;
	padding:10px 15px 30px 15px;
}
#menuprimario .nav > .active > a, #menuprimario .nav > .active > a:hover, #menuprimario .nav > .active > a:focus {
	background:none transparent;
	color:#fff;
}
#menuprimario .nav > li > a:focus, #menuprimario .nav > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
#menusecundario {
	font-size:12px;
	margin-right:10px;
}
#menusecundario .nav > li > a {
	text-shadow:none;
	padding:10px 5px;
}
#menusecundario .nav > .active > a, #menusecundario .nav > .active > a:hover, #menusecundario .nav > .active > a:focus {
	background:none transparent;
	color:#fff;
}
#menusecundario .nav > li > a:focus, #menusecundario .nav > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.hero-unit {
	background: none transparent;
	padding:0;
	margin:150px 0 0 0;
}
.carousel-indicators {
	bottom:20px;
	top:auto;
	right:0;
	left:0;
	margin:0 auto;
	width:940px;
	text-align:center;
}
.carousel-indicators li:hover {
	cursor:pointer;
}
.carousel-indicators li {
	width:6px;
	height:6px;
	float:none;
	display:inline-block;
	border:1px solid #ebebeb;
	background:#ebebeb
}
.carousel-indicators li.active {
	background:transparent
}
.carousel-control {
	top:54%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin:0 auto;
}
.hero-unit {
	color:#acacac;
	font-size:20px;
}
.hero-unit h1 {
	color:#fff;
	font-size:30px;
}
.textobanner {
	text-align:center;
}
.hero-unit .masinfo, .photo .masinfo {
	background:url(img/layout/masinfo.png) right 5px no-repeat;
	padding-right:30px;
	color:#acacac;
	font-size:20px;
	text-shadow:0 0 1px;
}

.carousel .pleca { /*position: absolute; top: 0; left: 0; right:0; width:100%; max-width: none; */
}

.photo .masinfo {
	color:#fff;
}
.hero-unit .masinfo:hover, .photo .masinfo:hover {
	background:url(img/layout/masinfo-hover.png) right 5px no-repeat transparent;
	color:#fff;
	text-decoration:none;
}
.masinfo {
	background:url(img/layout/masinfo-hover.png) right 5px no-repeat;
	padding-right:30px;
	color:#acacac;
	font-size:20px;
	text-shadow:0 0 1px;
}
.masinfo:hover {
	background:url(img/layout/masinfo.png) right 5px no-repeat transparent;
	color:#333;
	text-decoration:none;
}
.polaroid .caption {
	background:url(img/layout/blanco60.png);
	text-align:left;
	padding:5px 15px;
}
.polaroid {
	color:#555;
	margin-bottom:40px;
}
.polaroid h3 {
	color:#111;
	margin-bottom:0;
}
.border {
	border:1px solid #cccccc;
}
.border {
	margin-bottom:40px;
}
.dispositivo {
	margin-top:30px;
}
 @media (max-width: 980px) {
 footer {
 padding-top:105px !important;
}
 footer > .container {
 position: relative!important;
}
 section.map {
 background:url(img/plecas/map.jpg) no-repeat center top #D8D8D8!important;
 background-clip: border-box!important;
}
}

footer {
	background:#101010;
	bottom: 0;
	left: 0;
	min-height: 490px;
	padding: 50px 0 80px;
	width: 100%;
	text-align:center;
	color:#fff;
}
footer h6, .direccion {
	color:#39b54a;
	font-size:14px;
	margin:0;
}
footer li {
	list-style-type:none;
}
footer li a {
	color:#fff;
	font-size:12px;
	font-weight:normal;
}
footer a {
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
footer a:hover {
	color:#39b54a;
	text-decoration:none;
}
footer .divider {
	border-bottom:1px solid #333;
	margin-top:15px;
	margin-bottom:15px;
}
footer > .container {
	bottom: 74px;
	left: 50%;
	margin-left: -470px;
	position: fixed;
	z-index: 0;
}
.redes {
	position:absolute;
}
section.banner {
	background-attachment:fixed;
}
section.banner {
	background-clip: border-box;
	background-color: #333;
	/*background-image: url("img/bg/office _banner.jpg");*/
	background-origin: padding-box;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 50;
}
section.servicios {
	text-align:center;
}

section#contador {
	background-color: #ececec;
}

section.proyectos_recientes {
	background-color: #ececec;
	background-image: url(img/bg/office2_banner.jpg);
	width: 100%;
}
section.servicios.interna {
	background-color: #fff;
	width: 100%;
}
section.interna.photo {
	background-color: #ececec;
	background-image: url(img/bg/office2_banner.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo1 {
	background-color: #ececec;
	background-image: url(img/bg/lp-1.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.photo1 h2, section.photo2 h2, section.photo3 h2, section.photo4 h2, section.photo5 h2, section.photo6 h2, section.photo7 h2, section.photo8 h2 {
	color:#fff;
}
section.photo1, section.photo2, section.photo3, section.photo4, section.photo5, section.photo6, section.photo7, section.photo8 {
	color:#fff;
}
section.interna.photo2 {
	background-color: #ececec;
	background-image: url(img/bg/lp-2.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo3 {
	background-color: #ececec;
	background-image: url(img/bg/lp-3.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo4 {
	background-color: #ececec;
	background-image: url(img/bg/lp-4.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo5 {
	background-color: #ececec;
	background-image: url(img/bg/lp-5.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo6 {
	background-color: #ececec;
	background-image: url(img/bg/lp-6.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo7 {
	background-color: #ececec;
	background-image: url(img/bg/lp-7.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.interna.photo8 {
	background-color: #ececec;
	background-image: url(img/bg/lp-8.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:100px;
}
section.photo.clientes {
	background-color: #ececec;
	background-image: url(img/bg/office3_banner.jpg);
	width: 100%;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
	padding-bottom:50px;
	padding-top:50px;
}
section.clientes {
	background-color:#ececec!important;
	text-align:center;
}
section.somos h2 {
	color:#262626;
}
section.somos h3 {
	color:#555;
}
section.photo {
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #ececec;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: repeat-y;
	background-size: cover;
	padding: 10px 0 0;
	position: relative;
	z-index: 50;
}
section.photo h2 {
	color:#fff;
}
section.photo {
	color:#fff;
}
section.bgwhite {
	background-color: #FFFFFF;
	padding: 10px 0 40px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bggray {
	background-color: #ececec;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bggray2 {
	background-color: #dbdbdb;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bgblue {
	background-color: #e1f2fb;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bgpurple {
	background-color: #eae4f0;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bgred {
	background-color: #fdebeb;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bgorange {
	background-color: #feebd9;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bgyellow {
	background-color: #fff5e5;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.bggreen {
	background-color: #f0f7e6;
	padding: 30px 0 10px;
	position: relative;
	width: 100%;
	z-index: 50;
}
section.interna {
	padding-top:100px;
	padding-bottom:50px;
	background-image:none;
	position: relative;
	z-index: 50;
}
section.interna .page-header {
	text-align:center;
	margin:0 0 30px;
}
section.interna h1 {
	font-size:47.5px;
	margin:0;
	color:#fff;
	background:#898989;
	padding:20px 0;
}
section.interna h3 {
	color:#262626;
}
section.cotiza {
	color:#000;
	text-align:center;
	padding:40px 0;
}
section.map {
	background:url(img/plecas/map.jpg) no-repeat fixed center center;
	background-size:cover;
	background-color:#D8D8D8;
	background-repeat:repeat-y;
	left: 0;
	min-height: 500px;
	position: relative;
	width: 100%;
	z-index: 30;
}
section#contacto .controls {
	margin-left:140px;
}
section#contacto .control-label {
	width:140px;
}
section#contacto .input-xlarge {
	width:306px;
}
.encuesta {
	margin:40px 0;
	padding:15px;
	background-color:#d5d5d5;
}
.encuesta .control-label {
	width:80px;
}
.encuesta .controls {
	margin-left:0;
}
.encuesta input {
	width:264px;
}

.encuesta textarea {
	width:258px; min-width:258px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #b6b5b5;
	/*border: 1px solid #fff;*/



	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.form-horizontal .control-label {
	text-align: left;
	font-size:17.5px;
}
.form-actions {
	background-color: transparent;
	border-top: 0px solid #E5E5E5;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 0;
	text-align:right;
}
#mainwrapper {
}
/* Image Box Style */































#mainwrapper .box {
	border: 0px solid #fff;
	cursor: pointer;
	height: 194px;
	float: left;
	margin: 0px 25px 40px;
	position: relative;
	overflow: hidden;
	width: 250px;/*-webkit-box-shadow: 1px 1px 1px 1px #ccc;































		-moz-box-shadow: 1px 1px 1px 1px #ccc;































		box-shadow: 1px 1px 1px 1px #ccc;*/
}
#mainwrapper .box img {
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
/* Caption Common Style */































#mainwrapper .box .caption {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
}
/** Caption 5: Rotate **/































#mainwrapper #box-5.box .rotate-caption {
	width: 170px;
	height: 170px;
	text-align: left;
	padding: 15px;
	top: 200px;
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
#mainwrapper .box .rotate {
	width: 200px;
	height: 400px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
/** Caption 1: Simple **/































#mainwrapper .box .simple-caption {
	height: 30px;
	width: 200px;
	display: block;
	bottom: -30px;
	line-height: 25pt;
	text-align: center;
}
/** Caption 2: Full Width & Height **/































#mainwrapper .box .full-caption {
	width: 170px;
	height: 170px;
	top: -200px;
	text-align: left;
	padding: 15px;
}
/** Caption 3: Fade **/































#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
	opacity: 0;
	width: 220px;
	height: 170px;
	text-align: left;
	padding: 15px;
}
/** Caption 4: Slide **/































#mainwrapper .box .slide-caption {
	width: 170px;
	height: 170px;
	text-align: left;
	padding: 15px;
	left: 200px;
}
/** Caption 5: Rotate **/































#mainwrapper #box-5.box .rotate-caption {
	width: 170px;
	height: 170px;
	text-align: left;
	padding: 15px;
	top: 200px;
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
#mainwrapper .box .rotate {
	width: 200px;
	height: 400px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
/** Caption 6: Scale **/































#mainwrapper .box .scale-caption h4, #mainwrapper .box .scale-caption p {
	position: relative;
	left: -200px;
	width: 170px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
#mainwrapper .box .scale-caption h4 {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	transition-delay: 300ms;
}
#mainwrapper .box .scale-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	transition-delay: 500ms;
}
/** Simple Caption :hover Behaviour **/































#mainwrapper .box:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}
/** Full Caption :hover Behaviour **/































#mainwrapper .box:hover .full-caption {
	-moz-transform: translateY(100%);
	-o-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	opacity: 1;
	transform: translateY(100%);
}
/** Fade Caption :hover Behaviour **/































#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption {
	opacity: 1;
}
/** Slide Caption :hover Behaviour **/































#mainwrapper .box:hover .slide-caption {
	background-color: rgba(0, 0, 0, 1) !important;
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	opacity: 1;
	transform: translateX(-100%);
}
#mainwrapper .box:hover img#image-4 {
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 1;
}
/** Rotate Caption :hover Behaviour **/































#mainwrapper .box:hover .rotate {
	background-color: rgba(0, 0, 0, 1) !important;
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
/** Scale Caption :hover Behaviour **/































#mainwrapper .box:hover #image-6 {
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}
#mainwrapper .box:hover .scale-caption h4, #mainwrapper .box:hover .scale-caption p {
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
}
.box2 {
	border: 0px solid #fff;
	cursor: pointer;
	height: 260px;
	float: left;
	margin: 0px 25px 40px;
	margin-left:0;
	position: relative;
	overflow: hidden;
	width: 300px;
}
.box2 img {
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
/* Caption Common Style */































.box2 .caption {
	background-color: rgba(0, 0, 0, 1);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
}
/** Caption 5: Rotate **/











.box2 .scale-caption {
	opacity: 0;
	width: 270px;
	height: 230px;
	text-align: center;
	padding: 90px 15px;
}
/** Caption 4: Slide **/











.box2 .scale-caption h4, .box2 .scale-caption p {
	position: relative;
	left: -280px;
	width: 270px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.box2 .scale-caption h4 {
	font-size:24px;
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	transition-delay: 300ms;
}
.box2 .scale-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	transition-delay: 500ms;
}
/** Simple Caption :hover Behaviour **/











.box2:hover .scale-caption {
	opacity: 1;
}
/** Slide Caption :hover Behaviour **/











.box2:hover img#image-4 {
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 1;
}
/** Rotate Caption :hover Behaviour **/











.box2:hover #image-6 {
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}
.box2:hover .scale-caption h4, .box2:hover .scale-caption p {
	-moz-transform: translateX(280px);
	-o-transform: translateX(280px);
	-webkit-transform: translateX(280px);
	transform: translateX(280px);
}
.blanco {
	color:#FFFFFF;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.gris {
	color:#555555;
	text-decoration:none;
}
.verde {
	color:#31963F;
}


/*CONTACTO*/

.slideportfolio_menu_item0,
.slideportfolio_menu_item1,
.slideportfolio_menu_item2,
.slideportfolio_menu_item3,
.slideportfolio_menu_item4,
.slideportfolio_menu_item5,
.slideportfolio_menu_item6,
.slideportfolio_menu2_item0,
.slideportfolio_menu2_item1,
.slideportfolio_menu2_item2{position:relative;float:left;background:transparent;height:87px;width:87px;min-height:87px;min-width:87px;margin-left:10px;cursor:pointer;}
.slideportfolio_menu2_item0,
.slideportfolio_menu2_item1,
.slideportfolio_menu2_item2{position:relative;float:left;background:transparent;height:36px;width:36px;min-height:36px;min-width:36px;margin-top:22px;margin-left:15px;cursor:pointer;}
.slideportfolio_menu2_item0{background:transparent url('http://www.mezzolab.com/imagens/seeourwork0_2.png') center center no-repeat;}
.slideportfolio_menu2_item1{background:transparent url('http://www.mezzolab.com/imagens/seeourwork1_2.png') center center no-repeat;}
.slideportfolio_menu2_item2{background:transparent url('http://www.mezzolab.com/imagens/seeourwork2_2.png') center center no-repeat;}
.slideportfolio_menu_item0{background:transparent url('http://www.mezzolab.com/imagens/seeourwork0.png') no-repeat;}
.slideportfolio_menu_item1{background:transparent url('img/layout/desarrollosweb-ico87.png') no-repeat;}
.slideportfolio_menu_item2{background:transparent url('img/layout/ecommerce-ico87.png') no-repeat;}
.slideportfolio_menu_item3{background:transparent url('img/layout/seo-ico87.png') no-repeat;}
.slideportfolio_menu_item4{background:transparent url('img/layout/aplicaciones-ico87.png') no-repeat;}
.slideportfolio_menu_item5{background:transparent url('img/layout/email-marqueting-ico87.png') no-repeat;}
.slideportfolio_menu_item6{background:transparent url('img/layout/diseno-ico87.png') no-repeat;}
.slideportfolio_menu2_item0:hover{background:transparent url('http://www.mezzolab.com/imagens/seeourwork0_2_on.png') no-repeat;}
.slideportfolio_menu2_item1:hover{background:transparent url('http://www.mezzolab.com/imagens/seeourwork1_2_on.png') no-repeat;}
.slideportfolio_menu2_item2:hover{background:transparent url('http://www.mezzolab.com/imagens/seeourwork2_2_on.png') no-repeat;}
li.selected .slideportfolio_menu_item0,
.slideportfolio_menu_item0:hover{background:transparent url('http://www.mezzolab.com/imagens/seeourwork0_on.png') no-repeat;}
li.selected .slideportfolio_menu_item1,
.slideportfolio_menu_item1:hover,
.slideportfolio_menu_item1_sel{background:transparent url('img/layout/desarrollosweb-ico87-on.png') no-repeat;}
li.selected .slideportfolio_menu_item2,
.slideportfolio_menu_item2:hover,
.slideportfolio_menu_item2_sel{background:transparent url('img/layout/ecommerce-ico87-on.png') no-repeat;}
li.selected .slideportfolio_menu_item3,
.slideportfolio_menu_item3:hover,
.slideportfolio_menu_item3_sel{background:transparent url('img/layout/seo-ico87-on.png') no-repeat;}
li.selected .slideportfolio_menu_item4,
.slideportfolio_menu_item4:hover,
.slideportfolio_menu_item4_sel{background:transparent url('img/layout/aplicaciones-ico87-on.png') no-repeat;}
li.selected .slideportfolio_menu_item5,
.slideportfolio_menu_item5:hover,
.slideportfolio_menu_item5_sel{background:transparent url('img/layout/email-marqueting-ico87-on.png') no-repeat;}
li.selected .slideportfolio_menu_item6,
.slideportfolio_menu_item6:hover,
.slideportfolio_menu_item6_sel{background:transparent url('img/layout/diseno-ico87-on.png') no-repeat;}

.formulario_aboutyou_inputs{position:relative;float:left;width:100%;height:auto;min-height:200px;border-top:4px solid #d34d4d;padding-top:30px;padding-bottom:30px;background:#f7f7f7;}
.formulario_aboutyou_input{position:relative;float:left;width:300px;height:50px;padding-left:5px;line-height:50px;font-size:16px;text-transform:uppercase;}
.formulario_aboutyou_input input{position:relative;float:left;width:300px;height:50px;line-height:50px;font-size:16px;text-transform:uppercase;}
.formulario_aboutyou_input select{position:relative;float:left;margin-left:-5px;width:305px;height:50px !important;line-height:50px !important;-moz-border-radius:6px;background:rgba(255,255,255,1) url('http://www.mezzolab.com/imagens/caixa_select.png') right top no-repeat;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;border:0px;font-family:'latolight', Helvetica, Arial, sans-serif;font-size:16px;color:#c1c5c6;text-transform:uppercase;outline:none;}

.textoextraformulario{position:absolute;float:left;text-align:left;top:0px;left:360px;width:200px;border:0px;font-family:'latolight', Helvetica, Arial, sans-serif;font-size:16px;line-height:20px;color:#1890c2;text-transform:none;}

.formulario_tipointeresseitem{position:relative;float:left;width:150px;height:130px;text-align:center;}
.formulario_textointeresse{position:relative;float:left;width:150px;height:16px;line-height:16px;text-align:center;font-family:'latoregular', Helvetica, Arial, sans-serif;font-size:13px;color:#484848;text-transform:none;margin-top:10px;}

.seccion-cotiza { background:#ededed; border-top:4px solid #6bbce9; padding:30px 0 10px; margin-bottom:30px; }
#datoscompania.seccion-cotiza { border-top:4px solid #9777b6; }
#quenecesitas.seccion-cotiza { border-top:4px solid #cf4541; }
.formulario_aboutyou_espaco2{position:relative;float:left;width:308px;padding-left:5px;min-height:50px;height:auto;background:#ffffff;border:0px;}
.formulario_aboutyou_textarea{position:relative;float:left;width:300px;min-width:300px;max-width:300px;min-height:200px;max-height:200px;height:200px;font-size:16px; padding-left:5px;padding-top:5px; background:#fff; text-transform:uppercase;}
.control-group { clear:both; }


.top-menu { position:relative; padding:0;  }
.sub-menu { background:url(img/layout/negro75.png); display:none; color:#fff; font-size:15px; position:absolute; left:0; margin-left:0; padding:0 5px;  border-top: 1px solid rgba(255, 255, 255, 0.3);  }
.sub-menu li { list-style-type:none; border-top:1px solid #4b525d; }
.sub-menu li:first-child { border-top:0px; background:url(img/layout/sub-menu.png) center top no-repeat; }
.sub-menu a { color:#fff; padding:6px 30px 10px; display:block; }
.sub-menu a:hover { color:#fff; }

.top-menu .caret {
    border-bottom-color: #777777!important;
    border-top-color: #777777!important;
    margin-top: 8px!important;
}


.top-menu .caret:hover {
    border-bottom-color: #333!important;
    border-top-color: #333!important;
}


.maps-ico { margin-right:-10px; }


.circlePopUp{
		-webkit-border-radius: 50%;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius: 50%;
		-moz-border-radius-bottomright: 0;
		border-radius: 50%;
		border-bottom-right-radius: 0;
		background-color: #6BBCE9;
		height: 250px;
		width: 250px;
		border-color: #000;
		border-style: solid;
		border-width: 15px;
		top: 25%;
		right: 0;
		position: fixed;
		display: none;
		z-index: 4000;

	}
	.circlePopUp p{
		margin: 25% 10%;
		text-align: center;
		font-family: arial;
		font-size: 24px;
		font-weight: bold;
		color: #fff;
	}
	
	.circlePopUp a{color: #ffed4f;}
	


figure { margin:0; }

.count-number { font-family: "Museo500Regular", Arial, Helvetica, Tahoma, sans-serif; font-size: 60px; font-weight:bold; color:#000;  }
.sf-count-asset h6.count-subject { padding-top: 12px; font-size:14px; }
.sf-count-asset .count-divider { width: 100%; text-align: center; height: 1px; margin-top: 15px; margin-bottom: 20px; }
.sf-count-asset .count-divider span { background: #e4e4e4; 	width: 0px; height: 1px; display: inline-block; }

.ico-count img { margin:30px 0; }