// Settings
@import "../../scss/settings";

// Mixins
@import "../../scss/_mixins/re-mixins";

@media screen and (max-width: $screen-md-max){
	/*------Agregados por IvanLuna-Re. Empieza------*/
	/* re-nav-color */
	.re-nav-color .dl-menuwrapper button,
	.re-nav-color .dl-menuwrapper button:hover,
	.re-nav-color .dl-menuwrapper button.dl-active{background: none;}
	.re-nav-color .dl-menuwrapper button.dl-active span{background: transparent;}
	.re-nav-color .dl-menuwrapper button.dl-active span:before{
		bottom: 0;
		transform: rotate(45deg);
	}
	.re-nav-color .dl-menuwrapper button.dl-active span:after{
		top: 0;
		transform: rotate(-45deg);
	}
	.re-nav-color .dl-menuwrapper ul.re-ul-principal{background: rgba($c-primary,0.8)}
	.re-nav-color .dl-menuwrapper ul{background: rgba($c-primary,0.15)}

	.re-nav-color .dl-menuwrapper ul.dl-menu span.icon-nav,
	.re-nav-color .dl-menuwrapper ul.dl-submenu li figure img{
		width: 0;
		display: none !important;
	}
	/*----*/
	.no-pointerevents .dl-menuwrapper .dl-menu{display: none;}
	.no-pointerevents .dl-menuwrapper .dl-menu.dl-menuopen{display: block;}
	/*-----Agregados por IvanLuna-Re. Termina-----*/

	/* Common styles of menus */
	.dl-menuwrapper{/*div contenedor*/
		width: 100%;
		max-width: 100%;
		/*float: left;*/ /*¿Provoca fallas en Chrome?*/
		position: relative;
		perspective: 1000px;
		perspective-origin: 50% 200%;
	}
	.dl-menuwrapper:first-child{
		margin-right: 100px;
	}
	.dl-menuwrapper button{/*Posición del botón*/
		width: 28px;
		height: 28px;
		overflow: hidden;
		display: block;/*Para que funcione en IE*/
		position: absolute;
		top: -40px;
		outline: none;
		text-indent: -900em;
		cursor: pointer;
		background: #ccc;
		z-index: 2;
		@media screen and (max-width: $screen-sm-max){
			top: -50px;
		}
		@media screen and (max-width: $screen-xs-max){
			top: -40px;
		}
	}
	.dl-menuwrapper button:hover,
	.dl-menuwrapper button.dl-active,
	.dl-menuwrapper ul{
		background: #aaa;
	}
	.dl-menuwrapper button span{/*Color de las rayas*/
		width: 100%;
		height: 4px;
		position: absolute;
		top: 50%;
		left: 0;
		border-radius: 3px;
		margin-top: -2px;
		background: $c-primary;
	}
	.dl-menuwrapper button span:before,
	.dl-menuwrapper button span:after{
		content: '';
		width: 100%;
		height: 4px;
		display: block;
		position: absolute;
		left: 0;
		border-radius: 3px;
		background: $c-primary;
	}
	.dl-menuwrapper button span,
	.dl-menuwrapper button span:before,
	.dl-menuwrapper button span:after{
		transition: all 0.2s;
	}
	.dl-menuwrapper button span:before{
		bottom: 8px;
		// transform-origin: 90% bottom;
	}
	.dl-menuwrapper button span:after{
		top: 8px;
		// transform-origin: 90% top;
	}
	.dl-menuwrapper ul{
		padding: 0;
		list-style: none;
		transform-style: preserve-3d;
	}
	.dl-menuwrapper li{
		position: relative;
	}
	.dl-menuwrapper li a{/*Links [Alto, Peso y Color]*/
		display: block;
		position: relative;
		padding: 0.5em 6.5%;
		outline: none;
		color: $c-lightgray;
		border-top: 1px solid darken($c-primary, 10);
		&:hover{
			color: $c-lightgray;
			text-decoration: none;
		}
	}
	.dl-menuwrapper li:first-child > a{
		border-top: none !important;
	}
	
	/*Indicadores de submenu y regresar*/
	.no-touch .dl-menuwrapper li a:hover{
		background: rgba(200,200,200,0.2);
	}
	.dl-menuwrapper li.dl-back > a{
		background: rgba(0,0,0,0.3);
	}
	.dl-menuwrapper li.dl-back:after,
	.dl-menuwrapper li > a:not(:only-child):after{
		content: "\f105";
		position: absolute;
		top: 50%;
		font-family: 'FontAwesome';
		speak: none;
		-webkit-font-smoothing: antialiased;
		transform: translateY(-50%);
	}
	.dl-menuwrapper li.dl-back:after{
		left: 10px;
		color: rgba(white,0.9);
		transform: rotate(180deg) translateY(50%);
	}
	.dl-menuwrapper li > a:after{
		right: 4%;
		color: rgba(white,0.9);
	}

	/*Menu y Submenus*/
	.dl-menuwrapper .dl-menu{
		margin-top: 0;/*Margenes de ULMenu*/
		position: absolute;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transform: translateY(10px);
		backface-visibility: hidden;
	}
	.dl-menuwrapper .dl-menu.dl-menu-toggle{
		transition: all 0.3s ease;
	}
	.dl-menuwrapper .dl-menu.dl-menuopen{
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0px);
	}

	/* Hide the inner submenus */
	.dl-menuwrapper li .dl-submenu{
		display: none;
	}

	/* 
	When a submenu is openend, we will hide all li siblings.
	For that we give a class to the parent menu called "dl-subview".
	We also hide the submenu link. 
	The opened submenu will get the class "dl-subviewopen".
	All this is done for any sub-level being entered.
	*/
	.dl-menu.dl-subview li,
	.dl-menu.dl-subview li.dl-subviewopen > a,
	.dl-menu.dl-subview li.dl-subview > a{
		display: none;
	}
	.dl-menu.dl-subview li.dl-subview,
	.dl-menu.dl-subview li.dl-subview .dl-submenu,
	.dl-menu.dl-subview li.dl-subviewopen,
	.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
	.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li{
		display: block;
	}

	/* Dynamically added submenu outside of the menu context */
	.dl-menuwrapper > .dl-submenu{
		position: absolute;
		width: 100%;
		top: 0; /*Espacio entre ULMenu y el contenedor*/
		left: 0;
		margin: 0;
	}

	/* Animation classes for moving out and in */
	/*------*/
	.dl-menu.dl-animate-out-1{
		animation: MenuAnimOut1 0.4s;
	}
	.dl-menu.dl-animate-out-2{
		animation: MenuAnimOut2 0.3s ease-in-out;
	}
	.dl-menu.dl-animate-out-3{
		animation: MenuAnimOut3 0.4s ease;
	}
	.dl-menu.dl-animate-out-4{
		animation: MenuAnimOut4 0.4s ease;
	}
	.dl-menu.dl-animate-out-5{
		animation: MenuAnimOut5 0.4s ease;
	}

	/*------*/
	.dl-menu.dl-animate-in-1{
		animation: MenuAnimIn1 0.3s;
	}
	.dl-menu.dl-animate-in-2{
		animation: MenuAnimIn2 0.3s ease-in-out;
	}
	.dl-menu.dl-animate-in-3{
		animation: MenuAnimIn3 0.4s ease;
	}
	.dl-menu.dl-animate-in-4{
		animation: MenuAnimIn4 0.4s ease;
	}
	.dl-menu.dl-animate-in-5{
		animation: MenuAnimIn5 0.4s ease;
	}

	/*------*/
	.dl-menuwrapper > .dl-submenu.dl-animate-in-1{
		animation: SubMenuAnimIn1 0.4s ease;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-in-2{
		animation: SubMenuAnimIn2 0.3s ease-in-out;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-in-3{
		animation: SubMenuAnimIn3 0.4s ease;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-in-4{
		animation: SubMenuAnimIn4 0.4s ease;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-in-5{
		animation: SubMenuAnimIn5 0.4s ease;
	}

	/*------*/
	.dl-menuwrapper > .dl-submenu.dl-animate-out-1{
		animation: SubMenuAnimOut1 0.4s ease;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-out-2{
		animation: SubMenuAnimOut2 0.3s ease-in-out;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-out-3{
		animation: SubMenuAnimOut3 0.4s ease;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-out-4{
		animation: SubMenuAnimOut4 0.4s ease;
	}
	.dl-menuwrapper > .dl-submenu.dl-animate-out-5{
		animation: SubMenuAnimOut5 0.4s ease;
	}

	/* No JS Fallback */
	.no-js .dl-menuwrapper .dl-menu{
		position: relative;
		opacity: 1;
		transform: none;
	}
	.no-js .dl-menuwrapper li .dl-submenu{
		display: block;
	}
	.no-js .dl-menuwrapper li.dl-back{
		display: none;
	}
	.no-js .dl-menuwrapper li > a:not(:only-child){
		background: rgba(0,0,0,0.1);
	}
	.no-js .dl-menuwrapper li > a:not(:only-child):after{
		content: '';
	}
}

@media screen and (max-width: $screen-md-max){
	.dl-menuwrapper button{
		right: 50%;
		transform: translateX(-15px);
	}
}
@media only screen and (max-width: $screen-md-max){.dl-menuwrapper button{margin-right: -($re-central-width-md / 2);} }
@media only screen and (max-width: $screen-sm-max){.dl-menuwrapper button{margin-right: -($re-central-width-sm / 2);} }
@media only screen and (max-width: $screen-xs-max){.dl-menuwrapper button{margin-right: -($re-central-width-xs / 2);} }
@media only screen and (max-width: $screen-bs-max){.dl-menuwrapper button{margin-right: -($re-central-width-bs / 2);} }


/****************************************************/	
@keyframes MenuAnimOut1 {
	50% {
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}
@keyframes MenuAnimOut2 {
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}
@keyframes MenuAnimOut3 {
	100% {
		transform: translateZ(300px);
		opacity: 0;
	}
}
@keyframes MenuAnimOut4 {
	100% {
		transform: translateZ(-300px);
		opacity: 0;
	}
}
@keyframes MenuAnimOut5 {
	100% {
		transform: translateY(40%);
		opacity: 0;
	}
}
/********************************************/
@keyframes MenuAnimIn1 {
	0% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}
@keyframes MenuAnimIn2 {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes MenuAnimIn3 {
	0% {
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}
@keyframes MenuAnimIn4 {
	0% {
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}
@keyframes MenuAnimIn5 {
	0% {
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
/**********************************************/	
@keyframes SubMenuAnimIn1 {
	0% {
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes SubMenuAnimIn2 {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes SubMenuAnimIn3 {
	0% {
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}
@keyframes SubMenuAnimIn4 {
	0% {
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}
@keyframes SubMenuAnimIn5 {
	0% {
		transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}	
/***********************************************/
@keyframes SubMenuAnimOut1 {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(50%);
		opacity: 0;
	}
}
@keyframes SubMenuAnimOut2 {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}
@keyframes SubMenuAnimOut3 {
	0% {
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		transform: translateZ(-300px);
		opacity: 0;
	}
}
@keyframes SubMenuAnimOut4 {
	0% {
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		transform: translateZ(300px);
		opacity: 0;
	}
}
@keyframes SubMenuAnimOut5 {
	0% {
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		transform: translateZ(-200px);
		opacity: 0;
	}
}	