/*--------------------General Layout - Brand--------------------*/
a.brand{
	width: 400px;
	height: 173px;
	position: absolute;
	top: 17px;
	left: 0;
	z-index: $z-brand;
	margin-left: 15px;
	background: url("../images/layout/tourister-brand.png") no-repeat 0 0;
	transition: all 0s;
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-ms-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		background-image: url(../images/layout/tourister-brand@2x.png);
		background-size: 310px auto;
	}
	@media only screen and (min-width: $screen-md-min)	{
		width: 226px;
		height: 40px;
		top: 70px;
		background-position: 0 -25px;
	}
	@media only screen and (min-width: $screen-bs-min)	{left: (100 - $re-central-width-bs) / 2;}
	@media only screen and (min-width: $screen-xs-min)	{left: (100 - $re-central-width-xs) / 2;}
	@media only screen and (min-width: $screen-sm-min)	{left: (100 - $re-central-width-sm) / 2;}
	@media only screen and (min-width: $screen-md-min)	{left: (100 - $re-central-width-md) / 2;}

	@media only screen and (min-width: $screen-lg-min)	{
		width: 400px;
		height: 173px;
		top:17px;
		left: 0%;
		background-position: 0 -192px;
		transform: translateX(-90%);
	}
}