/*--------------------General Layout - Footer--------------------*/
footer{
	min-height: 100px;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	z-index: $z-footer;
	background-color: desaturate($c-primary,25);
	box-shadow: 0 0 10px rgba(black,0.2);
}
.principal-footer{
	@include padding-v(30,30);
	@include font-size(0.7);
	font-weight: $font-medium;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid $c-primary;
	@media screen and (min-width: $screen-xl-min){
		@include font-size(0.6);
	}

	@media screen and (min-width: $screen-xl-min){
		@include font-size(0.8);
	}
	@media screen and (min-width: $screen-xxl-min){
		@include font-size(1);
	}
	&,
	a{
		color: white;
		font-family: $font-body-2;
		text-align: center;
		font-size: 0.9em;
		letter-spacing: 1px;
		line-height: 1.2;

	}
	.footer-title{
		margin-bottom: 1em;
		text-align: left;
	}
	.footer-brand,
	.icon-facebbok,
	.icon-twitter{
		display: inline-block;
		vertical-align: bottom;
	}
	.footer-brand{
		max-height: 100px;
	}
	.icon-facebook,
	.icon-twitter{
		color: white;
	}

	.footer-nav,
	.footer-address{
		@include padding-v(20);
	}
	.footer-nav{
		&-legal{
			@include border-v(1, solid, darken($c-lightgray,20))
			font-size: 0.8em;
			@include padding-v(30);
		}
		&-link{
			@include padding-h(1, $unit: em);
			@media screen and (min-width: $screen-hd-min){
				@include padding-h(2.5, $unit: em);
			}
		}
	}
}
.post-footer{
	@include padding-v(20,15);
	@include font-size(0.9);
	line-height: 1;
	background-color: #8d281b;

	@media screen and (max-width: $screen-sm-max){
		text-align: center;
	}
	.legal{
		line-height: 30px;
		color: white;
		a,
		strong{
			color: inherit;
		}
	}
	.developed-by {
		display: block;
		margin-top: 10px;
		font-weight: $font-medium;
		color: white;
		@media screen and (min-width: $screen-md-min){
			text-align: right;
		}
		img{
			vertical-align: middle;
		}
	}
}
.social-icons-footer{
	display: inline-block!important;
	font-size: 1.3em!important;
}

.contacto-container{
	display: block;
	p{
		color: $c-tertiary;
		padding:0;
		font-family: $font-title;
	}
	i{
		text-align: center;
		display: block;
		margin: 0 auto;
		color: $c-primary;
		font-size: 2em;
	}
	form{
		padding: 15px 30px 0 30px;
	}
	address{
		display: block;
	}
	span{
		display: block;
		padding: 5px;
		color: $c-tertiary;
		font-weight: $font-bold;
		font-size: 1.3em;
	}
	a{
		display: block;
		margin: 2px auto;
		color: white;
	}
	.contacto-info{
		padding: 0 20px;

	a{
		font-weight: $font-light;
		font-size: .8em;
	}
	i{
		display: block;
		margin: 0 auto;
		color: $c-tertiary;
		text-align: left;
		text-decoration: none;
	}
	}

}