/*--------------------General Layout - Header--------------------*/
.site-header{
	min-height: $header-height-md;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-header;
	background:$c-secondary;
	transition: top $animate-time;
	@media screen and (min-width: $screen-md-min) {
		min-height: $header-height-md;
	}
	@media screen and (min-width: $screen-lg-min) {
		min-height: $header-height-md;
	}
}
.top-bar{
	border-bottom: 1px solid #4a4949;
	@include font-size(0.7);
	font-weight: $font-thin;
	text-transform: none;
	line-height: 10px;
	color: white;
	@media screen and (max-width: $screen-xs-max) {
		display: none;
		height: 0;
	}
	@media screen and (min-width: $screen-xxl-min){
		@include font-size(0.8);
	}
	a{
		color: inherit;
	}
	ul{
		li{
			display: inline-block;
			vertical-align: middle;
			@include padding-h(0.35, $unit: em);
		}
	}
	.control-nav-phone{
		line-height: 20px;
		strong{
			font-weight: $font-x-bold;
		}
	}
	[class^="icon-"],
	[class*=" icon-"]{
		@include font-size(1);
		text-decoration: none;
	}
	.icon-facebook,
	.icon-twitter{
		@include font-size(1);
	}
}
// Change header
.page-scroll-on .site-header{
	box-shadow: 0 0 10px rgba(black,0.15);
	background: #8A2216;
	@media screen and (min-width: $screen-md-min){
		top: 0px;
	}
}