/*--------------------General Layout - Nav--------------------*/
nav.site-nav{
	left: 0;
}

/*--------------------Mobile - Iván Luna [Re]--------------------*/
@media only screen and (max-width: $screen-md-max) {
	nav.site-nav{
		min-height: 0;
		position: relative;
		position: absolute;
		top: $header-height-md;
		z-index: $z-nav-mobile;
		background-color: transparent;
		@media screen and (max-width: $screen-sm-max){
			top: $header-height-bs;
		}
		.re-central{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	/*-----General Settings-----*/
	ul.re-ul-principal{
		box-shadow: inset 0 2px 2px rgba($c-primary,.2);
		a{
			color: #d5d393;
		}
		li a{
			color: #d5d393;
		}
	}
	li.tours-more-item{
		a{
			text-align: left;
			color: #d5d393 !important;
			background-color: transparent !important;
		}
	}
	li.tours-featured-item{
		display: none !important;
	}
}

/*--------------------Desktop - Iván Luna [Re]--------------------*/
@media screen and (min-width: $screen-lg-min){
	nav.site-nav{
		min-height: 50px;
		// position: relative;
		position: absolute;
		bottom:-0px;
		top: 60px;
		z-index: 1000;
		background-color: transparent;
		.re-central{
			position: static;
		}
	}
	// Para evitar estilos del menu responsive
	// Para evitar que el body crezca al dar click sobre los items
	.dl-submenu.dl-animate-in-1,
	.dl-submenu.dl-animate-in-2,
	.dl-submenu.dl-animate-in-3,
	.dl-submenu.dl-animate-in-4,
	.dl-submenu.dl-animate-in-5,
	.dl-trigger{
		display: none !important;
		position: absolute;
	}

	/*-----General Settings-----*/
	ul.re-ul-principal{
		position: relative;
		font-weight: $font-regular;
		text-align: right;
		// Hide & Show Level 2
		> li{
			> ul{
				// display: none;
				opacity: 0;
				transform: scaleY(0);
				transform-origin: 0 0 0;
				transition: all 0.25s ease;
			}
			&:hover > ul{
				// display: block;
				opacity: 1;
				transform: scaleY(1)
			}
		}

		// Level 1
		> li{
			display: inline-block;
			border-bottom: 2px solid transparent;
			margin-left: -1.9em;
			&:hover{
				border-color: none;
				color: $c-primary;
			}
			// Anchors in first level
			> a{
				position: relative;
				min-height: 50px;
				@include padding-h(1.4, $unit: em);
				@include font-size(.8);
				font-weight: $font-x-light;
				line-height: 50px;
				font-family: $font-body;
				text-transform: uppercase;
				text-decoration: none;
				color: #d5d393;
				@media screen and (min-width: $screen-xl-min){
					@include padding-h(2, $unit: em);
					@include font-size(.8);
				}
				@media screen and (min-width: $screen-xl-min){
					@include padding-h(1.8, $unit: em);
				}
			}
			&:hover > a{
				color: $c-primary!important;
			}
		}


		/*-----Menu Item - Megamenu-----*/
		// Level 1 - Items
		li.mega-menu{
			position: static;
			// Level 2 [Categories]
		}
		ul.tours-categories{
			width: 30%;
			position: absolute;
			top: 92%;
			font-weight: $font-x-light;
			@include padding-v(4, $unit: em);
			@include font-size(1);
			text-align: left;
			background-color: rgba($c-secondary,0.7);
			width:30%;
			@media screen and (min-width: $screen-xxl-min){
				width:30%;
			}
			@media screen and (min-width: $screen-hd-min){
				width:30%;
			}
		}
		.primero{
				left: 45%;
			}
			.segundo{
				left: 80%;
			}
		li.tours-category,
		li.tours-more-item{
			width: 50%;
			@include padding-h(10);
			margin-left: 30px;
			padding-bottom: 20px;
		}
		li.tours-category{
				> div{
					display: block;				
				> a{
					text-decoration: none;
					color: #d5d393!important;
					font-family: $font-body;

					   &:hover a {
					   width: 100%;
					   text-decoration: none!important; 
					}
				}
			}	
		}
		

		li.tours-more-item{
			margin-top: 2em;
		}
		li.tours-featured-item{
			width: 50%;
			position: absolute;
			bottom: -5px;
			right: 0;
			a{
				float: right;
			}
		}

		li.dl-back{
			display: none;
		}
	}

	.page-scroll-on .site-nav{
		a{
			color: white;
		}
	}
}
.tours-icons{
	display: inline-block;
	position: relative;
	float: left;
	li{
		display: inline-block;
		top: 90%;
	}
	i{
		display: inline-block;
			border-bottom: 2px solid transparent;
			left: 50%;
			font-size: 3em;
			color: $c-secondary;
			&:hover{
				border-color: white;
			}
	}
}
.top-bar-separator{
	border-right: 1px solid $c-secondary;
}