/*--------------------General [Re]sponsive | Iván Luna [Re]--------------------*/
header,
nav,
main,
footer,
.re-central,
.re-middle,
.re-cien{
	width: 100%;
	min-width: 240px;
}
.re-central,
.re-middle,
.re-cien{
	@include padding-h;
	@include horizontal-center-auto;
}
.re-central{
	width: 100%;
	// Medidas relativas
	@media only screen and (min-width: $screen-bs-min)	{width: $re-central-width-bs;}
	@media only screen and (min-width: $screen-xs-min)	{width: $re-central-width-xs;}
	@media only screen and (min-width: $screen-sm-min)	{width: $re-central-width-sm;}
	@media only screen and (min-width: $screen-md-min)	{width: $re-central-width-md;}
	// Medidas absolutas
	@media only screen and (min-width: $screen-lg-min)	{width: $re-central-width-lg;}
	@media only screen and (min-width: $screen-xl-min)	{width: $re-central-width-xl;}
	@media only screen and (min-width: $screen-xxl-min)	{width: $re-central-width-xxl;}
	@media only screen and (min-width: $screen-hd-min)	{width: $re-central-width-hd;}
}
.re-middle{
	width: 88%;
}