DL.form {
	width: 100%;	
	margin-top: 0px;
	margin-bottom: 0px;
}

DL.form DT {
	width: 12em;
	float: left;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
	clear: left;
	display: block;
	margin-top:8px;
	height:14px
}

DL.form DD {
	margin-left: 10em;
	padding-top: 3px;
	height: 20px;
	display: block;
}

HTML>BODY DL.form DD {
	height:auto;
	min-height:20px
}

DL.form DD DIV.dd_content {
	padding-top:5px;
}

DL.form DD SELECT {
	margin-top:2px;	
}

DL.form DD.hint {
	font-style: italic;
}

DL.form DD.error {
	margin: 0 0 0 10em;
	text-align: left;	
}

.frmInput {
	border: 1px solid #c0c0c;	
}

fieldset {
	border: 1px solid #c0c0c0;
	padding: 10px;
	padding-bottom: 10px;
	text-align: left;
	margin-bottom: 10px;
}

fieldset legend {
	font-weight: bold;
	border: 1px solid #c0c0c0;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.frmInput.center {
	text-align: center;
}


.error {
	color:#AA3333;
	font-weight:  bold;
	font-size: 11px;
	text-align: center;
	margin:10px 0;
}

.success {
	color: green;
	margin: 10px 0px 10px 0px;
	font-weight:  bold;
	font-size: 11pt;
	text-align: left;
}
