/*--------------------Mixins - IvánLuna[Re]--------------------*/

/*--------------------Backgrounds Gradients--------------------*/
// Two colors
@mixin background-gradient-short ($direction: right){
	background-image: linear-gradient(to #{$direction}, $c-primary, $c-secondary-d10);
}
// Four colors
@mixin background-gradient-large ($direction: right){
	background-image: linear-gradient(to #{$direction}, $c-primary, $c-primary-d10, $c-secondary, $c-secondary-d10);;
}

/*--------------------Border Gradients--------------------*/
@mixin border-gradient-short($position: top, $direction: right){
	position: relative;
	@if $position == "vertical" {
		&:before,
		&:after{
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			left: 0;
			@include background-gradient-short(#{$direction});
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
	}
	@else if $position == "top" {
		&:before{
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			top: 0;
			left: 0;
			@include background-gradient-short(#{$direction});
		}
	}
	@else if $position == "bottom" {
		&:after{
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			@include background-gradient-short(#{$direction});
		}
	}
	@else if $position == "horizontal" {
		&:before,
		&:after{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			@include background-gradient-short(#{$direction});
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}
	}
	@else if $position == "left" {
		&:before{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			@include background-gradient-short(#{$direction});
		}
	}
	@else if $position == "right" {
		&:after{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			@include background-gradient-short(#{$direction});
		}
	}
}