/*--------------------Mixins - IvánLuna[Re]--------------------*/
// Box table
@mixin box-table{
	display: table;
	> div{
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
}

// Padding vertical
@mixin padding-v($top: 15, $bottom: $top, $unit: px){
	padding-top: $top+$unit;
	padding-bottom: $bottom+$unit;
}

// Padding horizontal
@mixin padding-h($left: 15, $right: $left, $unit: px){
	padding-left: $left+$unit;
	padding-right: $right+$unit;
}

// Border vertical
@mixin border-v($width: 1, $type: solid, $color: $c-lightgray){
	border-top: $width+px $type $color;
	border-bottom: $width+px $type $color;
}

// Border horizontal
@mixin border-h($width: 1, $type: solid, $color: $c-lightgray){
	border-left: $width+px $type $color;
	border-right: $width+px $type $color;
}

// Margin vertical
@mixin margin-v($top: 15, $bottom: $top, $unit: px){
	margin-top: $top+$unit;
	margin-bottom: $bottom+$unit;
}

// Margin horizontal
@mixin margin-h($left: 15, $right: $left, $unit: px){
	margin-left: $left+$unit;
	margin-right: $right+$unit;
}

// Centrar verticalmente y horizontalmente
@mixin absolute-center{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: inherit;
}

// Centrar verticalmente con top y transform
@mixin vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Centrar horizontalmente con left y transform
@mixin horizontal-center{
	position: absolute;
	left: 50%;
	transform: translateX(-30%);
}

// Centrar horizontalmente con margin auto
@mixin horizontal-center-auto{
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix(){
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

// Font size to pt
@mixin font-size($fz: 1){
	font-size: ($fz*12)+pt;
	font-size: $fz+rem;
}

// Font size to rem
@mixin font-size-pt($fz: 10){
	font-size: $fz+pt;
	font-size: ($fz/12)+rem;
}

// Opacidad
@mixin opacity($opacidad) {
  opacity: $opacidad;
  filter: alpha(opacity=#{$opacidad * 100});
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
	&::-moz-placeholder           { color: $color; }
	&:-moz-placeholder            { color: $color; }
	&:-ms-input-placeholder       { color: $color; }
	&::-webkit-input-placeholder  { color: $color; }
}