/* gallery */
.yith_magnifier_gallery {
    margin: 0;
    padding: 0;
}

.yith_magnifier_gallery li {
    position: relative;
    display: block;
    float: left;
    text-align: center;
}

.yith_magnifier_gallery li.last {
    margin-right: 0;
}

.yith_magnifier_gallery li a {
    width: 100% !important;
    height: 100% !important;
    display: block;
    margin-top: 10px;
}

.yith_magnifier_gallery li a img {
    max-width: 100%;
    max-height: 100%;
}

/* next/prev */
.single-product.woocommerce .thumbnails {
    position: relative;
}

.single-product.woocommerce .thumbnails #slider-prev,
.single-product.woocommerce .thumbnails #slider-next {
    display: none !important;
    cursor: pointer;
    width: 27px;
    height: 26px;
    background: url('../images/slider-arrow.png') no-repeat left center;
    position: absolute;
    top: 48%;
    margin-top: -2px;
}

.single-product.woocommerce .thumbnails #slider-prev {
    background-position: left center;
    left: 0px;
}

.single-product.woocommerce .thumbnails #slider-next {
    background-position: right center;
    right: 0px;
}

.single-product.woocommerce .thumbnails:hover #slider-prev,
.single-product.woocommerce .thumbnails:hover #slider-next {
    display: block !important;
}

span.onsale {
    z-index: 10000
}

