/*!

	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------
	
					•• Importante - Para editar este CSS utiliza el archivo fuente SCSS ••				
								ivanluna.re@outlook.com | ivan@vicom.mx
	
	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------

*/.owl-single .item img{display:block;width:100%;height:auto}.owl-single .caption{width:40%;position:absolute;top:50%;margin-left:15px;color:#0b0b0b;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}@media only screen and (min-width: 480px){.owl-single .caption{left:5%}}@media only screen and (min-width: 1024px){.owl-single .caption{left:6%}}@media only screen and (min-width: 1366px){.owl-single .caption{left:7%}}@media only screen and (min-width: 1440px){.owl-single .caption{left:10%}}.owl-single .caption h2{font-size:18pt;font-size:1.5rem;font-weight:600}@media screen and (min-width: 480px){.owl-single .caption h2{font-size:24pt;font-size:2rem}}@media screen and (min-width: 600px){.owl-single .caption h2{font-size:36pt;font-size:3rem}}@media screen and (min-width: 1024px){.owl-single .caption h2{font-size:48pt;font-size:4rem}}.owl-single .caption em{display:none;font-size:18pt;font-size:1.5rem;font-weight:600}@media screen and (min-width: 568px){.owl-single .caption em{display:block}}.owl-single .caption p{display:none;margin-top:10px}@media screen and (min-width: 1024px){.owl-single .caption p{display:block}}.owl-single .owl-controls{text-align:center}.owl-single .owl-controls .owl-buttons{width:100%;position:absolute;top:50%}@media screen and (max-width: 768px){.owl-single .owl-controls .owl-buttons{display:none}}.owl-single .owl-controls .owl-buttons div{width:40px;height:40px;position:absolute;top:50%;-webkit-border-radius:30px;border-radius:30px;font-size:0;color:white;background:#f70303;filter:Alpha(Opacity=80);opacity:0.8;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:opacity .2s;transition:opacity .2s}.owl-single .owl-controls .owl-buttons div:before{width:40px;height:40px;display:block;position:absolute;top:0;left:0;font-family:'FontAwesome';font-size:15pt;color:white;line-height:40px}.owl-single .owl-controls .owl-buttons div.owl-prev{left:15px}.owl-single .owl-controls .owl-buttons div.owl-prev:before{content:'\f060'}.owl-single .owl-controls .owl-buttons div.owl-next{right:15px}.owl-single .owl-controls .owl-buttons div.owl-next:before{content:'\f061'}.owl-single .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1}.owl-single .owl-controls .owl-pagination{position:absolute;bottom:0;left:0;right:0;z-index:1;padding-top:5px;padding-bottom:5px}.owl-single .owl-controls .owl-page{display:inline-block;*display:inline;zoom:1}.owl-single .owl-controls .owl-page span{width:15px;height:15px;display:block;-webkit-border-radius:50%;border-radius:50%;margin:0 5px;background:#f70303;filter:Alpha(Opacity=50);opacity:0.5}.owl-single .owl-controls .owl-page.active span,.owl-single .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}.owl-single .owl-controls .owl-page span.owl-numbers{width:auto;height:auto;padding:2px 10px;-webkit-border-radius:30px;border-radius:30px;font-size:12px;color:white}.owl-item.loading{min-height:150px;background:url(AjaxLoader.gif) no-repeat center center}

/*# sourceMappingURL=owl-single.css.map */