@charset "UTF-8";
// Settings
@import "../../scss/settings";

// Mixins
@import "../../scss/_mixins/re-mixins";

.owl-multi{
	position: relative;
	overflow: hidden;
	// Controles
	.owl-controls{
		text-align: center;

		// Styling Next and Prev buttons
		.owl-buttons{
			width: 100%;
			@include absolute-center;
			.owl-prev,
			.owl-next{
				width: 30px;
				height: 30px;
				@include vertical-center;
				border-radius: 50%;
				@include font-size(0);
				color: white;
				background: $c-primary;
				filter: Alpha(Opacity=80);/*IE7 fix*/
				opacity: 0.8;
				transition: opacity .2s;
				&:before{
					width: 30px;
					height: 30px;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					font-family: 'FontAwesome';
					@include font-size;
					color: white;
					line-height: 30px;
				}
			}
			.owl-prev{
				left: 10px;
				&:before{
					content: '\f060';
				}
			}
			.owl-next{
				right: 10px;
				&:before{
					content: '\f061';
				}
			}
		}
		// Clickable class fix problem with hover on touch devices
		// Use it for non-touch hover action
		&.clickable .owl-buttons div:hover{
			filter: Alpha(Opacity=100);/*IE7 fix*/
			opacity: 1;
		}

		// Styling Pagination
		.owl-pagination{
			// position: absolute;
			// bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-top: 10px;
		}
		.owl-page{
			display: inline-block;
			*display: inline;/*IE7 life-saver */
			zoom: 1;
			span{
				width: 15px;
				height: 15px;
				display: block;
				border-radius: 50%;
				margin: 0 5px;
				background: $c-primary;
				filter: Alpha(Opacity=50);/*IE7 fix*/
				opacity: 0.5;
			}
		}
		.owl-page.active span,
		&.clickable .owl-page:hover span{
			filter: Alpha(Opacity=100);/*IE7 fix*/
			opacity: 1;
		}
		// If PaginationNumbers is true
		.owl-page span.owl-numbers{
			width: auto;
			height: auto;
			padding: 2px 10px;
			border-radius: 30px;
			@include font-size;
			color: white;
		}
	}
}

// Preloading images
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}