@charset "UTF-8";
// Settings
@import "../../scss/settings";

// Mixins
@import "../../scss/_mixins/re-mixins";

.owl-single{
	.item img{
		display: block;
		width: 100%;
		height: auto;
	}
	// Caption
	.caption{
		width: 40%;
		position: absolute;
		top: 50%;
		// left: 15%;
		margin-left: 15px;
		color: $c-secondary;
		transform: translateY(-50%);
		@media only screen and (min-width: 480px)	{left: 5%;}
		@media only screen and (min-width: 1024px)	{left: 6%;}
		@media only screen and (min-width: 1366px)	{left: 7%;}
		@media only screen and (min-width: 1440px)	{left: 10%;}
		h2{
			@include font-size(1.5);
			font-weight: 600;
			@media screen and (min-width: 480px){
				@include font-size(2);
			}
			@media screen and (min-width: 600px){
				@include font-size(3);
			}
			@media screen and (min-width: 1024px){
				@include font-size(4);
			}
		}
		em{
			display: none;
			@include font-size(1.5);
			font-weight: 600;
			@media screen and (min-width: 568px){
				display: block;
			}
		}
		p{
			display: none;
			margin-top: 10px;
			@media screen and (min-width: 1024px){
				display: block;
			}
		}
	}

	// Controles
	.owl-controls{
		text-align: center;

		// Styling Next and Prev buttons
		.owl-buttons{
			width: 100%;
			position: absolute;
			top: 50%;
			@media screen and (max-width: 768px) {
				display: none;
			}
			div{
				width: 40px;
				height: 40px;
				position: absolute;
				top: 50%;
				border-radius: 30px;
				font-size: 0;
				color: white;
				background: $c-primary;
				filter: Alpha(Opacity=80);/*IE7 fix*/
				opacity: 0.8;
				transform: translateY(-50%);
				transition: opacity .2s;
				&:before{
					width: 40px;
					height: 40px;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					font-family: 'FontAwesome';
					font-size: 15pt;
					color: white;
					line-height: 40px;
				}
				&.owl-prev{
					left: 15px;
					&:before{
						content: '\f060';
					}
				}
				&.owl-next{
					right: 15px;
					&:before{
						content: '\f061';
					}
				}
			}
		}
		// Clickable class fix problem with hover on touch devices
		// Use it for non-touch hover action
		&.clickable .owl-buttons div:hover{
			filter: Alpha(Opacity=100);/*IE7 fix*/
			opacity: 1;
		}

		// Styling Pagination
		.owl-pagination{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.owl-page{
			display: inline-block;
			*display: inline;/*IE7 life-saver */
			zoom: 1;
			span{
				width: 15px;
				height: 15px;
				display: block;
				border-radius: 50%;
				margin: 0 5px;
				background: $c-primary;
				filter: Alpha(Opacity=50);/*IE7 fix*/
				opacity: 0.5;
			}
		}
		.owl-page.active span,
		&.clickable .owl-page:hover span{
			filter: Alpha(Opacity=100);/*IE7 fix*/
			opacity: 1;
		}
		// If PaginationNumbers is true
		.owl-page span.owl-numbers{
			width: auto;
			height: auto;
			padding: 2px 10px;
			border-radius: 30px;
			font-size: 12px;
			color: white;
		}
	}
}

// Preloading images
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}