/*--------------------About Us Home--------------------*/
.about-us-home{
	position: relative;
	@include padding-v(50);
	color: white;
	text-align: center;
	background: white url(../images/about-us-home-back.jpg) center / cover no-repeat;
	&-bus{
		@media screen and (max-width: $screen-sm-max){
			min-height: 0 !important;
		}
	}
	&-bus-image{
		width: 80%;
		display: block;
		@include horizontal-center-auto;
	}
	&-title{
		margin-bottom: 1em;
		@include font-size(1.2);
		img{
			max-height: 40px;
		}
	}
	&-summary{
		@include vertical-center;
		@include font-size(0.8);
		.button-underline{
			@include font-size(1);
			margin-top: 1em;
		}
	}
}