/*--------------------Banner Board--------------------*/
.banner-board{
	&-row{
		overflow: hidden;
		> div{
			@media screen and (max-width: $screen-sm-max){
				min-height: 0 !important;
			}
		}
	}
	&-item{
		display: inline-block;
		float: left;
	}
	.img-cien{
		transition: opacity $animate-time*2;
		&:hover{
			opacity: 0.8;
		}
	}
}