/*------------------------Checkout Process------------------------*/
/*------------------------Login------------------------*/
.chekout-login{
	text-align: center;
	h1{
		text-align: center;
	}
	h6{
		font-family: $font-body;
	}
	form{
		input{
			width: 60%;
			height: auto;
			display: block;
			@include horizontal-center-auto;
			line-height: 3;
			text-align: center;
		}
		.button-wrapper{
			@include margin-v(20);
		}
		.button-flat{
			@include font-size(1.25);
			text-transform: uppercase;
		}
	}
	&-summary{
		text-align: center;
	}
}

/*------------------------Checkout - Steps------------------------*/
// Step 03
.checkout-step-03{
	.payment-methods{
		overflow: hidden;
		margin-top: 0.75em;
	}
	.nav-tabs > li {
		width: 50%;
		margin-bottom: 0;
	}
	.nav-tabs > li > a {
		border-width: 1px;
		margin-bottom: 0;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #000;
		outline: medium none;
		padding-bottom: 11px;
		padding-top: 11px;
	}
}
.checkout-summary{
	@include padding-v(1, $unit: em);
	border: 1px solid $c-lightgray;
	margin-top: 1em;
	&-table{
		width: 100%;
		td{
			width: 50%;
		}
		.td-label{

			padding-right: 15px;
			text-align: right;
		}
		.td-value{
			padding-left: 15px;
			font-weight: $font-bold;
			text-align: left;
		}
	}
	.total-payment{
		@include padding-v(50);
		@include font-size(2.5);
		font-weight: $font-bold;
		text-align: center;
		color: $c-secondary;
	}
	+ a{
		@include padding-v(15);
		margin-bottom: 1em;
		@include font-size(1.3);
		text-transform: uppercase;
	}
}

/*------------------------Checkout - Modals------------------------*/
.checkout-modal{
	@include padding-v(45);
	@include padding-h(15);
	@media screen and (min-width: $screen-md-min){
		@include padding-v(50);
	}
	text-align: center;
	&-user-email{
		display: block;
		margin-bottom: 1em;
		@include font-size(1.5);
		color: $c-primary;
	}
	&-hello{
		background-color: lighten($c-secondary,10);
		.img-center{
			@media screen and (max-width: $screen-sm-max){
				max-height: 30px;
			}
		}
		.button-flat{
			text-transform: uppercase;
		}
	}
	.link.primary{
		display: block;
		margin-top: 1em;
		color: lighten($c-text,20);
	}
	label{
		margin-bottom: 1em;
		@include font-size(1.5);
		font-family: $font-title !important;
	}
	input{
		text-align: center;
	}
}

/*------------------------Order Complete------------------------*/
.order-complete{
	strong{
		font-weight: $font-regular;
	}
	&-summary{
		@include padding-v(20);
		@include border-v(2,solid,$c-secondary);
		margin-bottom: 2em;
		@media screen and (min-width: $screen-md-min){
			@include padding-v(30);
		}
	}
	&-title{
		@include margin-v(0,20);
		font-family: $font-body;
	}
	&-user{
		@include font-size(1.35);
		@media screen and (max-width: $screen-md-max){
			padding-bottom: 1em;
			border-bottom: 1px solid $c-lightgray;
			margin-bottom: 1em;
		}
	}
	&-payment{
		margin-bottom: 1em;
	}
	// Shopping Cart
	&-products{
		.shopping-cart-actions{
			display: none;
		}
		.button-wrapper{
			margin-bottom: 2em;
			text-align: right;
			a{
				margin-left: 1em;
			}
		}
	}
}
