/*--------------------Event List--------------------*/
.event-list{
	@include padding-v(30);
	background-color: $c-dark;
}

// Items
.event-item{
	@include padding-v(10);
	@include padding-h(15);
	@include border-v(4, solid, $c-dark)
	@include border-h(4, solid, $c-dark)
	background-color: lighten($c-dark,10);
	@media screen and (min-width: $screen-lg-min){
		width: 50%;
		float: left;
	}
	&-title,
	&-date,
	.button-flat{
		display: inline-block;
		vertical-align: middle;
		@include font-size(1);
	}
	&-title{
		width: 100%;
		margin-bottom: 0.5em;
		text-align: center;
		color: white;
		cursor: pointer;
		@media screen and (min-width: $screen-md-min){
			width: 45%;
			text-align: left;
			margin-bottom: 0;
		}
		&:hover{
			text-decoration: none;
			color: $c-lightgray-d10;
		}
		strong,
		span{
			// display: inline-block;
		}
		strong{
			margin-right: 0.25em;
			font-weight: $font-medium;
		}
		span{
			margin-left: 0.25em;
			font-weight: $font-light;
		}
	}
	&-date,
	.button-flat{
		width: 100%;
		@media screen and (min-width: $screen-md-min){
			width: 25%;
		}
	}
	&-date{
		margin-bottom: 0.5em;
		text-align: center;
		color: lighten($c-secondary,60);
		@media screen and (min-width: $screen-md-min){
			margin-bottom: 0;
			
		}
	}

	&-more{
		background-color: transparent;
		.button-flat{
			width: 100%;
		}
	}
}