/*------------------------Payment Methods------------------------*/
.payment-methods{
	@include padding-v(10);
	@media screen and (min-width: $screen-lg-min){
		@include padding-v(50);
	}
	.icons-additional{
		@include margin-h(1.5, $unit: em);
	}
}