// Product single - Modal with image gallery
.product-modal.modal-dialog{
	width: 90%;
	// height: 100%;
	@include horizontal-center-auto;
	@include padding-v(20);
	@include margin-v(0);
	@media screen and (min-width: $screen-md-min){
		@include padding-v(50);
	}
	@media screen and (min-width: $screen-lg-min){
		width: 80%;
	}
	@media screen and (min-width: $screen-xl-min){
		width: 65%;
	}
	@media screen and (min-width: $screen-xxl-min){
		width: 40%;
	}
	.modal-content{
		height: 100%;
		.modal-header{
			.modal-title{
				@include font-size(0.8);
			}
		}
		.modal-body{
			height: 50%;
			overflow: hidden;
			@media screen and (min-width: 360px){
				height: 80%;
			}
		}
	}
}
.product-modal-image{
	height: 80%;
	@media screen and (min-width: $screen-md-min){
		width: 40%;
		height: 100%;
		float: left;
	}
	img{
		display: block;
		max-width: 90%;
		max-height: 80%;
		margin: 0 auto;
	}
}
.product-modal-thumbnails{
	text-align: center;
	img{
		width: 50px;
		display: inline-block;
		padding: 5px;
		cursor: pointer;
	}
}
.product-modal-info{
	@include padding-h(10, $unit: %);
	@media screen and (min-width: $screen-md-min){
		width: 60%;
		float: right;
	}
	.product-modal-title{
		@include font-size(1.3);
	}
	.product-modal-price{
		@include padding-v;
		@include font-size(1);
		font-weight: $font-bold;
		.price-new,
		.price-old{
			// display: block;
			sup{
				position: relative;
				top: .25em;
			}
		}
		.price-old{
			text-decoration: line-through;
			color: $c-primary;
		}
		.price-new{
			color: $c-secondary;
		}
	}
}