/*--------------------Product Detail--------------------*/
// Product single - Image
.product-detail-image-wrapper{
	@media screen and (max-width: $screen-md-max){
		min-height: 0 !important;
		margin-bottom: 20px;
	}
}

.product-detail-image{
	// width: 100%;
	position: relative;
	padding-right: 0;
	background-color: white;
	@media screen and (min-width: $screen-lg-min){
		margin-bottom: 10px;
	}
	// To calculate container's with when is fixed
	$fixed-width-lg: ($re-central-width-lg / 12) * 7 - 30;
	$fixed-width-xl: ($re-central-width-xl / 12) * 7 - 30;
	$fixed-width-xxl: ($re-central-width-xxl / 12) * 7 - 30;
	$fixed-width-hd: ($re-central-width-hd / 12) * 7 - 30;
	&.fixed{
		@include font-size(.8);
		background-color: rgba(white,1);
		@media screen and (min-width: $screen-lg-min){
			width: $fixed-width-lg;
			position: fixed;
			top: $header-height-lg;
			bottom: auto;
			z-index: 100;
		}
		@media screen and (min-width: $screen-xl-min){
			width: $fixed-width-xl;
		}
		@media screen and (min-width: $screen-xxl-min){
			width: $fixed-width-xxl;
		}
		@media screen and (min-width: $screen-hd-min){
			width: $fixed-width-hd;
		}
	}
	&.post-fixed{
		@media screen and (min-width: $screen-lg-min){
			width: $fixed-width-lg;
			position: absolute;
			top: auto;
			bottom: 0;
		}
		@media screen and (min-width: $screen-xl-min){
			width: $fixed-width-xl;
		}
		@media screen and (min-width: $screen-xxl-min){
			width: $fixed-width-xxl;
		}
		@media screen and (min-width: $screen-hd-min){
			width: $fixed-width-hd;
		}
	}
	.thumbnails.slider{
		position: absolute;
		z-index: 2;
		border: 1px solid transparent;
		border-top: none;
		border-bottom: none;
		.caroufredsel_wrapper{
			~ #slider-prev,
			~ #slider-next{
				display: block !important;
			}
		}
		#slider-prev,
		#slider-next{
			width: 20px;
			height: 20px;
			display: none !important;
			position: absolute;
			font-size: 18px;
			line-height: 20px;
			text-align: center;
			color: $c-text;
			background: none;
			transition: all 0.4s ease;
			&:hover {
				opacity: 0.6;
				cursor: pointer;
			}
		}
		#slider-prev .fa,
		#slider-next .fa {
			width: 100%;
			height: 20px;
			line-height: 20px;
		}
	}
}
// Vertical
.product-detail-image.vertical{
	.images{
		width: 100%;
		position: relative;
		padding-left: 50px;
		margin: 0;
		@media screen and (max-width: $screen-md-max){
			min-height: 0 !important;
		}
		@media screen and (min-width: $screen-sm-min){
			@include padding-h(100,0);
		}
		@media screen and (min-width: $screen-md-min){
			@include padding-h(135,0);
		}
		@media screen and (min-width: $screen-lg-min){
			@include padding-h(130,0);
		}
		@media screen and (min-width: $screen-xl-min){
			@include padding-h(230,0);
		}
		@media screen and (min-width: $screen-xxl-min){
			@include padding-h(200,0);
		}
		@media screen and (min-width: $screen-hd-min){
			@include padding-h(230,0);
		}
		.yith_magnifier_zoom_wrap{
			a img {
				width: 100%;
				box-shadow: none;
			}
			.yith_magnifier_lens {
				background: white;
			}
			.yith_magnifier_mousetrap {
				cursor: move !important;
			}
		}
		.zoom_in_marker {
			background: none;
			border: 4px double #909295;
			border-radius: 5px;
			bottom: 10px;
			color: #909295;
			cursor: pointer;
			display: none;
			font-size: 20px;
			height: 50px;
			line-height: 44px;
			position: absolute;
			left: 10px;
			text-align: center;
			width: 50px;
			z-index: 10000;
			transition: all 0.4s ease;
			&:hover {
				border: 4px double $c-primary;
				color: $c-primary
			}
		}
		&.nothumb {
			padding: 0;
		}
	}
	.thumbnails.slider{
		width: 50px;
		top: 10px;
		bottom: 20%;
		left: 0;
		@media screen and (min-width: $screen-sm-min){
			width: 100px;
		}
		@media screen and (min-width: $screen-lg-min){
			width: 100px;
		}
		@media screen and (min-width: $screen-xl-min){
			width: 120px;
		}
		.caroufredsel_wrapper{
			width: 100% !important;
			height: 100% !important;
			margin: auto !important;
			ul {
				li {
					width: 100%;
					@include padding-v(5);
				}
				li a {
					margin: 0;
				}
			}
		}
		#slider-prev,
		#slider-next{
			@include horizontal-center;
		}
		#slider-prev{
			top: -15px;
		}
		#slider-next {
			bottom: -15px;
		}
	}
}
// Horizontal
.product-detail-image.horizontal{
	.fixed{
		bottom: 100px;
	}
	&.post-fixed{
		@media screen and (min-width: $screen-lg-min){
			bottom: 100px;
		}
	}
	.images{
		padding-left: 0;
		.yith_magnifier_zoom{
			img{
				width: 70%;
				@include horizontal-center-auto;
				@media screen and (min-width: $screen-lg-min){
					width: 67.5%;
				}
				@media screen and (min-width: $screen-xl-min){
					width: 55%;
				}
				@media screen and (min-width: $screen-xxl-min){
					width: 62.5%;
				}
				@media screen and (min-width: $screen-hd-min){
					width: 64%;
				}
			}
		}
		.yith_magnifier_zoom_magnifier{
			width: 100% !important;
		}
	}
	.thumbnails.slider{
		width: 95%;
		overflow: hidden;
		position: absolute;
		top: auto;
		bottom: 0;
		@include padding-h(30);
		transform: translateY(100%);
		div.caroufredsel_wrapper{
			height: 150px !important;
			overflow: hidden;
		}
		ul.yith_magnifier_gallery{
			height: 150px !important;
			overflow: hidden;
		}
		li.yith_magnifier_thumbnail{
			height: 100px !important;
			img{
				max-width: 100% !important;
				height: auto !important;
				// max-height: 300%;
			}
		}
		#slider-prev,
		#slider-next{
			top: 50%;
			transform: translateY(-50%);
		}
		#slider-prev{
			left: 0;
		}
		#slider-next{
			left: auto;
			right: 0;
		}
	}
}

// Product single - Info to buy
.product-detail-info{
	h1{
		margin-bottom: 0;
		@include font-size(1.5);
	}
	em.label{
			display: block;
			@include font-size(0.8);
			line-height: 2;
			color: $c-text;
	}
	.product-detail-price{
		@include padding-v;
		@include font-size(1.5);
		.price-new,
		.price-old{
			display: inline-block;
		}
		.price-old{
			margin-right: 1em;
			text-decoration: line-through;
			color: $c-primary;
		}
		.price-new{
			color: $c-secondary;
		}
	}
	.product-detail-colors{
		text-align: left;
		@include clearfix;
		.product-color{
			width: 35px;
			height: 35px;
			float: left;
			border: 3px solid white;
			border-radius: 50%;
			margin: 0 5px 5px 0;
			background-color: white;
			cursor: pointer;
			// box-shadow: 0 0 0 1px $c-lightgray-l-1;
			&:hover,
			&.active{
				box-shadow: 0 0 0 1px $c-lightgray-d10;
			}
			// Texturas
			img{
				// width: 35px;
				// max-width: 35px;
				// height: 35px;
				display: block;
				border-radius: 35px;
			}
		}
	}

	.product-detail-colors-thumbnails{
		max-height: 140px;
		position: relative;
		overflow: hidden;
		@include padding-h(1);
		padding-bottom: 40px;
		transition: max-height $animate-time*3;
		&.is-open{
			max-height: 1000px;
		}
		.thumbnail-color{
			height: 70px;
			&:hover,
			&.active{
				box-shadow: 0 0 0 1px $c-lightgray-d10;
			}
		}
		.button-wrapper{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin-bottom: 0;
			.button-flat{
				@include font-size(1);
				border: 1px solid $c-lightgray;
				background-color: rgba(white,0.9);
				&:after{
					display: inline-block;
					margin-left: 0.5em;
					content: ' más';
				}
				&.is-open:after{
					content: ' menos';
				}
			}
		}
	}
	.product-detail-sizes{
		margin-bottom: 20px;
		text-align: left;
		.product-size{
			width: 2.75em;
			height: 2em;
			display: inline-block;
			border: 1px solid $c-lightgray-d30;
			margin-bottom: 0.8em;
			margin-right: 0.5em;
			line-height: 2em;
			text-align: center;
			color: $c-text-l20;
			cursor: pointer;
			&:hover{
				color: white;
				border-color: $c-secondary;
				background-color: $c-secondary;
			}
			&.active{
				border-color: $c-secondary;
				color: white;
				background-color: $c-secondary;
			}
			&.disabled{
				color: white;
				border-color: $c-lightgray-d10;
				background-color: $c-lightgray-d10;
			}
		}
	}
	.product-detail-quantity{
		.cantidad{
			position: relative;
			input{
				height: 40px;
				@include padding-h(40);
				border-color: $c-lightgray-d10;
				font-size: 20px;
				line-height: 40px;
				text-align: center;
			}
			span{
				width: 30px;
				display: block;
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: 0;
				@include border-h($color: $c-lightgray-d10)
				margin: 0;
				line-height: 40px;
				color: $c-primary;
				text-align: center;
				background-color: white;
				cursor: pointer;
				&.inc{
					right: 15px;
				}
				&.dec{
					left: 15px;
				}
			}
		}
	}
	.button-wrapper{
		display: block;
		overflow: hidden;
		margin-bottom: 20px;
		.button-flat,
		.button-lineal{
			text-transform: uppercase;
		}
		.button-flat{
			width: 100%;
			@include font-size(1.5);
		}
		.button-lineal{
			width: 47.5%;
			float: left;
			@include padding-h(0);
			@include padding-v(15,10);
			margin-top: 10px;
			font-family: $font-body;
			@include font-size(0.65);
			@media screen and (max-width: $screen-xs-max){
				@include padding-h(2, $unit: em);
			}
			@media screen and (min-width: $screen-lg-min){
				@include padding-h(2.5, $unit: em);
			}
			@media screen and (min-width: $screen-xxl-min){
				@include padding-h(0);
			}
			@media screen and (min-width: $screen-hd-min){
				@include font-size(0.7);
			}
			& + .button-lineal{
				float: right;
			}
		}
	}
	.product-detail-polices{
		position: relative;
		z-index: 5;
		text-align: center;
		@include clearfix;
		div{
			width: 32%;
			position: relative;
			float: left;
			@include padding-v(5);
			margin-right: 2%;
			@include font-size(0.7);
			line-height: 1.2;
			text-transform: uppercase;
			background-color: $c-lightgray-l-1;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				color: white;
				background-color: lighten($c-primary,15);
				.detail-tooltip{
					display: block;
				}	
			}
			i{
				display: inline-block;
				@include font-size(2.5);
			}
			.detail-tooltip{
				width: 100%;
				display: none;
				position: absolute;
				top: 110%;
				left: 0;
				right: 0;
				padding: 5px;
				border: 1px solid $c-lightgray;
				border-radius: 2px;
				margin: 0 auto;
				font-size: 12px;
				text-transform: none;
				color: black;
				background-color: white;
				strong{
					font-weight: $font-medium;
				}
			}
		}
	}
	.product-detail-description-short{
		@include margin-v(20);
		@include font-size(0.9);
		.product-detail-description-short-block{
			@include padding-v(1.5, $unit: em);
			border-top: 1px solid $c-secondary-l10;
			&:last-child{
				border-bottom: 1px solid $c-secondary-l10;
			}
			h6{
				@include font-size(1.5);
				text-transform: uppercase;
			}
			ul{
				li{
					em{
						font-weight: $font-regular;
						color: inherit;
					}
				}
			}
		}
	}
}
// Product single - Deatailed info
.product-detail-detailed-info{
	@include padding-v(20);
	@include border-v($color: $c-lightgray);
	@include margin-v(10,20);
	@include font-size(0.8);
}
// Product single - User opinion
.opinions-module{
	@include padding-v;
}
// Product single User opinion
.user-opinion {
	width: 100%;
	border-bottom: 1px dashed $c-lightgray-l-1;
	margin-bottom: 20px;
	@include font-size(0.8);
	.user-avatar {
		float: left
	}
	.user-review {
		color: #909295;
		margin-left: 100px;
	}
	h5 {
		margin: 0 0 10px;
		font-size: 18px;
		color: $c-text-d10;
	}
}
// Product single - User revie input
.user-review-input{
	padding-top: 0.5em;
	margin-top: 2em;
	> h3{
		color: $c-primary;
		margin-bottom: 1em;
	}
	> textarea{
		width: 100%;
		height: 5em;
		border: 1px solid $c-lightgray-l-1;
		margin-bottom: 1em;
	}
}
// Product single - Social sharing
.product-detail-socialsharing{
	margin-top: 10px;
	.button-lineal {
		@include padding-h(0.5, $unit: em);
		margin-bottom: 3px;
		@include font-size(0.8);
		text-transform: none;
		&:hover {
			color: white;
			i {
				color: white !important;
			}
		}
		i {
			margin-right: 6px;
		}
		&.btn-facebook{
			&:hover {
				border-color: #435f9f;
				box-shadow: inset 300px 0 0 #435f9f,
						inset -300px 0 0 #435f9f;
			}
			i {
				color: #435f9f;
			}
		}
		&.btn-twitter{
			&:hover {
				border-color: #00aaf0;
				box-shadow: inset 300px 0 0 #00aaf0,
						inset -300px 0 0 #00aaf0;
			}
			i {
				color: #00aaf0;
			}
		}
		&.btn-google-plus{
			&:hover {
				border-color: #e04b34;
				box-shadow: inset 300px 0 0 #e04b34,
						inset -300px 0 0 #e04b34;
			}
			i {
				color: #e04b34;
			}
		}
		&.btn-pinterest{
			&:hover {
				border-color: #ce1f21;
				box-shadow: inset 300px 0 0 #ce1f21,
						inset -300px 0 0 #ce1f21;
			}
			i {
				color: #ce1f21;
			}
		}
	}
}
// Product single - Customer review
.product-detail-review{
	&-points{
		@include font-size(1.1);
		.active{
			color: saturate($c-secondary,10%);
		}
	}
	&-comments{
		margin-left: 1em;
		a{
			font-weight: $font-medium;
			color: $c-link-default;
		}
	}
}