/*------------------------Product Filters------------------------*/
// Botones para abrir y cerrar
#filtersOpen,
#filtersClose{
	position: relative;
	@include padding-v(0.5, $unit: em);
	@include padding-h(1, 0.5, $unit: em);
	cursor: pointer;
	i{
		margin-left: 0.5em;
		color: $c-secondary;
	}
}
#filtersOpen{
	@include margin-v(0,10)
	@media screen and (min-width: $screen-sm-min){
		position: absolute;
	}
	@media screen and (min-width: $screen-lg-min){
		display: none;
	}
}
#filtersClose{
	@include margin-v(0,10);
	@media screen and (min-width: $screen-lg-min){
		display: none;
	}
}

// Aside contenedor
.aside-filters{
	position: relative;
	background-color: white;
	@media screen and (max-width: $screen-md-max){
		display: none;
		width: 100%;
		position: absolute;
		top: 0;
		right: -100%;
		// height: 100%;
		z-index: 1000000;
		@include padding-v(20);
		@include padding-h(15);
		box-shadow: 0 5px 5px rgba(black,0.2);
		transition: right 0.5s;
		&.filtros-activos{
			right: 0;
		}
	}
	@media screen and (min-width: $screen-lg-min){
		display: block !important;
	}
	h5{
		margin-bottom: 20px;
		@include font-size;
		font-weight: $font-regular;
		text-transform: uppercase;
		color: $c-secondary;
		@media screen and (max-width: $screen-md-max){
			display: none;
		}
	}
}

// Filtrar [Department/Category/Subcategory]
li.filter-open > ul{
	// display: block !important;
	max-height: 500px !important;
}
ul.single-filter.filter-departments{
	display: block;
	clear: both;
	margin-bottom: 40px;
	li{
		position: relative;
		overflow: hidden;
		transition: color .5s ease, background-color .5s ease;
		&.filter-open{
			background: white;
			&:hover{
				background: white;
			}
			> a{
				font-weight: $font-bold !important;
			}
		}
		&.filter-active{
			> a{
				font-weight: $font-bold;
				color: $c-secondary !important;
			}
		}
		> a{
			display: block;
		}
	}
	li.filter-department{
		border-bottom: 1px solid $c-lightgray;
		&:first-child{
			border-top: 1px solid $c-lightgray;
		}
		> a{
			@include padding-v(10);
			padding-left: 1.25em;
			font-weight: $font-medium;
			color: $c-primary;
			cursor: pointer;
			&:before{
				content: '\f061';
				position: absolute;
				top: 0.8em;
				left: 0;
				font-family: FontAwesome;
				@include font-size(0.9);
				font-weight: $font-regular;
				color: $c-secondary;
			}
		}
	}
	ul.filter-categories{
		// display: none;
		max-height: 0px;
		background-color: white;
		transition: max-height 0.1s;
		li.filter-category{
			font-size: 0.9em;
			border-bottom: 1px dashed $c-lightgray-d10;
			&:last-child{
				border-bottom: none;
			}
			> a{
				@include padding-v(6);
				@include padding-h(2, 0, $unit: em);
				color: $c-text;
				&:before{
					content: '\f054';
					position: absolute;
					top: 0.55em;
					left: 1em;
					font-family: FontAwesome;
					@include font-size(0.8);
					font-weight: $font-regular;
					color: $c-secondary;
				}
			}
			label{
				@include font-size(0.8);
				font-weight: $font-regular;
			}
		}
	}
	ul.filter-subcategories{
		// display: none;
		max-height: 0;
		transition: max-height 0.1s;
		li.filter-subcategory{
			border-top: 1px dashed $c-lightgray;
			> a{
				@include padding-v(5);
				@include padding-h(2.2, 0, $unit: em);
				color: $c-text-l10;
			}
		}
	}
}

// Filtrar [Multiple]
li.filter-open > ul.filter-combo{
	display: block !important;
	// max-height: 500px !important;
}
.multiple-filter{
	display: block;
	clear: both;
	@include font-size(0.9);
	margin-bottom: 40px;
	> li{
		overflow: hidden;
		position: relative;
		line-height: 3;
		border-bottom: 1px solid $c-lightgray;
		transition: color .5s ease, background-color .5s ease;
		&:first-child{
			border-top: 1px solid $c-lightgray;
		}
		&:hover{
			background: white;
		}
		&.filter-open{
			background: white;
			&:hover{
				background: white;
			}
			.filter-title{
				// font-weight: $font-medium;
				&:after{
					// content: '\f068';
				}
			}
		}
	}
	.filter-combo-title{
		display: block;
		padding: 0;
		font-weight: $font-medium;
		color: $c-text-d10;
		cursor: pointer;
		&:after{
			content: '\f078';
			position: absolute;
			top: 7px;
			right: 0;
			font-family: FontAwesome;
			@include font-size(0.7);
		}
	}
	.filter-combo{
		display: none;
		@include padding-h(10);
		margin-bottom: 20px;
		background-color: white;
		li{
			@include padding-v(2);
			line-height: 0;
			label{
				@include font-size(0.8);
				font-weight: $font-regular;
				line-height: 1.2 !important;
			}
		}
	}
}