/*--------------------Product List--------------------*/
// Search/Sort Results
.products-search-result{
	margin-bottom: 15px;
	@media screen and (min-width: $screen-sm-min){
		text-align: right;
	}
	h1{
		margin-bottom: 50px;
		text-align: left;
		@media screen and (min-width: $screen-sm-min){
			margin-bottom: 15px;
		}
		@media screen and (min-width: $screen-lg-min){
			position: absolute;
			margin-bottom: 0;
		}
	}
	> div{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}
	}
	// Trigger para cambiar vista del listado
	.product-view-mode{
		i{
			color: $c-lightgray-d30;
			cursor: pointer;
			&:hover{
				color: $c-primary;
			}
			&.view-mode-active{
				color: $c-secondary;
			}
		}
	}
	// Ordenamiento del listado
	.product-sort{
		*{
			@include font-size(0.8);
		}
	}
}

// Items individuales
.product-item{
	@include font-size(1);
	> div{
		background-color: white;
	}
	// Image
	&-figure{
		position: relative;
		.contenedor-img{
			position: relative;
			height: auto;
			display: block;
			overflow: hidden;
			img.img-centrada{
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
				opacity: 0;
				transition: max-height $animate-time/2, top $animate-time, opacity $animate-time;
			}
			> a{
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 5px;
				background-color: rgba($c-primary,0);
				opacity: 0;
			}
		}
	}
	// Info [Name, Description]
	&-caption{
		@include padding-h(10);
		h5{
			@include font-size(1.2);
			font-weight: $font-regular;
			text-transform: uppercase;
			@include margin-v(0);
		}
		a{
			color: white;
			&:hover{
				text-decoration: none;
			}
		}
	}
	&-tour{
		display: block;
		@include font-size(1.5);
	}
	&-location{
		text-decoration: underline;
	}
	&-points{
		display: block;
		margin-top: 0.5em;
		@include font-size(1.1);
		.active{
			color: saturate(#f9c917,10%);
		}
	}
	// Info [Price, Buttons to buy or add]
	&-price{
		padding: 10px 20px;
		font-weight: $font-medium;
		text-align: center;
		.price-new{
			display: block;
			@include font-size(1.5);
		}
		.price-new{
			color: $c-primary;
			&.price-promo{
				color: $c-primary;
				&:before{
					content: 'Ahora';
					display: inline-block;
					margin-right: .5em;
					@media screen and (max-width: $screen-xs-max){
						display: none;
					}
				}
			}
		}
		.product-days{
			color: $c-primary-d10;
		}
	}
	&-action{
		> a.button-lineal,
		> a.button-flat{
			margin-top: 0;
			@include font-size(0.85);
		}
	}
}
.product-item:hover{
	.product-item-figure{
		.contenedor-img{
			> a{
				opacity: 1;
			}
		}
	}
}

// Vista en cuadrícula
.product-list.grid-view{
	// Size Grid
	&.grid-small{
		.product-item{
			width: 100%;
			@media screen and (min-width: $screen-xs-min){
				width: 50%;
			}
			@media screen and (min-width: $screen-md-min){
				width: 33.33%;
			}
			@media screen and (min-width: $screen-xl-min){
				width: 33.33%;
			}
		}
	}
	&.grid-large{
		.product-item{
			width: 100%;
			@media screen and (min-width: $screen-sm-min){
				width: 50%;
			}
		}
	}
	.product-item{
		float: left;
		@include padding-h;
		margin-bottom: 30px;
		> div{
			padding-bottom: 15px;
		}
		&-caption{
			width: 75%;
			position: absolute;
			bottom: 30px;
			@include padding-h(20);
			.product-summary{
				display: none;
			}
		}
		&-price{
			position: absolute;
			top: 50px;
			right: 15px;
			background-color: white;
		}
		&-action{
			position: absolute;
			bottom: 30px;
			right: 30px;
		}
	}
}

// Vista en lista
.product-list.list-view{
	.product-item{
		width: 100%;
		min-height: 0 !important;
		@include padding-h(15);
		@include clearfix;
		> div{
			@include padding-v(10);
			border-bottom: 1px solid $c-lightgray-d10;
			overflow: hidden;
			text-align: left;
		}
		&-figure{
			width: 100%;
			.contenedor-img{
				@media screen and (min-width: $screen-sm-min){
					width: 40%;
					height: auto !important;
					float: left;
				}
				.img-centrada{
					@media screen and (min-width: $screen-sm-min){
						top: 0 !important;
					}
				}
			}
		}
		&-caption{
			@include padding-h(30,30);
			text-align: center;
			@media screen and (min-width: $screen-sm-min){
				width: 60%;
				float: left;
				text-align: left;
			}
			h5{
				margin-bottom: 0.5em;
				font-size: 1.2em;
			}
			.product-summary{
				display: none;
				font-size: 0.7em;
				@media screen and (min-width: $screen-sm-min){
					display: block;
				}
			}
		}
		&-action{
			text-align: center;
			@media screen and (min-width: $screen-sm-min){
				width: 60%;
				float: right;
				@include padding-h(30,30);
				text-align: left;
			}
			.button-flat{
				display: inline-block;
				@media screen and (min-width: $screen-md-min){
					width: auto !important;
					// display: block;
				}
			}
		}
	}
}

// Vista en slider multi-item
.product-list.owl-carousel{
	.product-item{
		width: 100%;
		@include padding-h;
		margin-bottom: 0;
		> div{
			padding-bottom: 0;
		}
	}
}