/*--------------------Service Type--------------------*/
.service-type{
	@media screen and (max-width: $screen-sm-max){
		display: none;
	}
	&-item{
		width: 36.39%;
		float: left;
		@include padding-h;
		&:last-child{
			width: 27.15%;
		}
	}
}