/*------------------------Shopping Cart Table------------------------*/
// Table
.shopping-cart-table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 3em;
	@include font-size(1);
	text-align: center; vertical-align: middle;
	// caption{}
}
// THEAD
.shopping-cart-thead{
	@include border-v(5, solid, $c-primary-d10)
	@include border-h(1, solid, $c-primary)
	font-size: 1.2em;
	font-weight: 300;
	color: white;
	background-color: $c-primary;
	th{
		padding: 10px 5px;
		border-left: 1px solid darken($c-lightgray,60);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: white-space;
		&:first-child{
			border-left: none;
		}
	}
	th.prod-act{width: 6%;}
	th.prod-img{width: 12.5%;}
	th.prod-des{width: 22.5%;}
	th.prod-sku{width: 10%;}
	th.prod-qua{width: 13%;}
	th.prod-pri{width: 18%;}
	th.prod-sub{width: 18%;}

	th.prod-img{
		text-align: center;
	}
	th.prod-des,
	th.prod-sku{
		padding-left: 15px;
		text-align: left;
	}

	th.prod-qua,
	th.prod-pri,
	th.prod-sub{
		text-align: right;
		padding-right: 15px;
	}
}
// TBODY
.shopping-cart-tbody{
	border-left: 1px dashed $c-lightgray;
	border-right: 1px dashed $c-lightgray;
	font-size: 1em;
	color: $c-text;
	tr{
		border-bottom: 1px dashed $c-lightgray;
	}
	td{
		padding: 5px;
	}
	td.prod-act{
		text-align: center;
		padding: 0;
		@include font-size(1.2);
	}
	td.prod-des,
	td.prod-sku{
		padding-left: 15px;
		text-align: left;
	}

	td.prod-qua,
	td.prod-pri,
	td.prod-sub{
		padding-right: 15px;
		text-align: right;
	}
	td.prod-img{
		img{
			max-width: 75%;
			max-height: 55px;
		}
	}
	td.prod-qua{
		position: relative;
		input{
			width: 4.5em;
			height: 25px;
			display: inline-block;
			padding-right: 0;
			border: 1px solid $c-lightgray;
			border-radius: 0;
			margin-right: 1.25em;
			line-height: 1;
			text-align: right;
			color: inherit;
		}
		a{
			display: block;
			margin-top: 0.35em;
			color: darken($c-primary,20);
		}
		a.icon-refresh{
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0,-75%)
		}
	}
}
// TFOOT
.shopping-cart-tfoot{
	border-top: 2px solid $c-secondary;
	td{
		padding: 10px 5px;
	}
	td.shopping-cart-subtotal,
	td.shopping-cart-shipping,
	td.shopping-cart-total{
		font-family: $font-body;
		font-weight: $font-regular;
		border-bottom: 1px solid $c-lightgray;
		span, strong{
			width: 50%;
			float: left;
		}
		span{
			text-align: right;

		}
		strong{
			padding-right: 15px;
			color: $c-text-d10;
			text-align: right;
		}
	}
	// Shopping cart actions
	tr.shopping-cart-actions{
		text-align: right;
	}
	 .button-flat{
	 	margin-left: 2em;
		@include font-size(1.2);
		text-transform: uppercase;
	}
}

// Rë-sponsive Web Design
@media only screen and (max-width: $screen-md-max) {
	.shopping-cart-wrapper .shopping-cart-table{
		table-layout: fixed; // auto | fixed
	}
	// THEAD
	.shopping-cart-wrapper .shopping-cart-thead{
		display: none;
	}
	// TBODY
	.shopping-cart-wrapper .shopping-cart-tbody{
		border-style: solid;
		@include border-h($color: white);
		font-size: 1em;
		tr{
			display: block;
			position: relative;
			@include padding-v;
			border-bottom: 1px solid $c-lightgray;
			overflow: hidden;
			&:first-child{
				border-top: 1px solid $c-lightgray;
			}
		}
		td.prod-act{
			height: 30px;
			display: block;
			position: absolute;
			top: 20px;
			left: 10px;
		}
		td.prod-img{
			width: 12.5%;
			display: block;
			position: absolute;
			left: 25px;
			z-index: 10;
			padding: 0;
			@media screen and (max-width: $screen-xs-max){
				width: 20%;
			}
		}
		td.prod-des,
		td.prod-sku{
			width: 80%;
			display: block;
			float: right;
			padding: 5px;
			text-align: left;
			@media screen and (max-width: $screen-xs-max){
				width: 72.5%;
			}
		}
		td.prod-qua,
		td.prod-pri,
		td.prod-sub{
			width: 26.66%;
			display: block;
			float: left;
			padding: 5px;
			text-align: left;
			@media screen and (max-width: $screen-xs-max){
				width: 72.5%;
				float: right;
			}
		}	
		td.prod-sku{
			margin-bottom: 0.5em;
			&:before{
				content: 'SKU: ';
				display: inline-block;
				margin-right: 0.5em;
			}
		}
		td.prod-qua{
			clear: both;
			margin-left: 20%;
			input{
				width: 6em;
				margin-right: 0;
			}
			a.icon-refresh{
				left: -1.5em;
				right: auto;
			}
		}
		td.prod-sub{
			font-weight: $font-x-bold;
		}
	}
	// TFOOT
	.shopping-cart-wrapper .shopping-cart-tfoot{
		tr.shopping-cart-actions{
			.button-flat{
				width: 15em;
				max-width: 70%;
				display: block;
				margin: $re-gutter / 2 auto;
				padding: 2px;
			}
		}
		td{
			width: 100%;
			float: left;
		}
	}
}

/*------------------------Shopping Cart Table - Minicart------------------------*/
.minicart{
	@include clearfix;
	@media screen and (max-width: $screen-md-max){
		margin-bottom: 1em;
	}
}
.minicart .shopping-cart-table{
	display: block;
	background-color: transparent;
}
.minicart .shopping-cart-thead{
	display: none;
}
.minicart .shopping-cart-tbody{
	display: block;
	border-left: none;
	border-right: none;
	margin-bottom: 1em;
	tr{
		display: block;
		position: relative;
		@include clearfix;
		@include padding-v(7);
		border-bottom-style: dotted;
		&:first-child{
			border-top: 1px dotted $c-lightgray;
		}
	}
	td{
		display: block;
		float: left;
		padding: 5px;
	}
	td.prod-act{
		position: absolute;
		left: 0;
		padding: 0;
	}
	td.prod-img{
		width: 60px;
		position: absolute;
		left: 15px;
		padding: 0;
		@media screen and (min-width: $screen-sm-min){
			width: 80px;
		}
	}
	td.prod-qua{
		position: absolute;
		left: 80px;
		@include border-v(1, solid, darken($c-lightgray,30))
		border-radius: 50px;
		font-weight: $font-bold;
		text-align: left;
		color: $c-primary;
		@media screen and (min-width: $screen-sm-min){
			left: 90px;
		}
	}
	td.prod-des,
	td.prod-sku,
	td.prod-pri{
		width: 100%;
		float: right;
		padding-left: 110px;
		text-align: left;
		@media screen and (min-width: $screen-sm-min){
			padding-left: 120px;
		}
	}
	td.prod-pri{
		font-weight: $font-bold;
	}
	td.prod-sub{
		display: none;
	}
}
.minicart .shopping-cart-tfoot{
	display: block;
	tr,
	td{
		display: block;
		overflow: hidden;
	}
	tr + tr td{
		@include clearfix;
		&:first-child{
			display: none;
		}
	}
}

/*------------------------Minicart Wrapper - To Toolbar------------------------*/
.toolbar-minicart-wrapper{
	// Reviewing inherit
	z-index: 2000;
	color: white;
	background-color: rgba(darken($c-dark,5),0.95);
	box-shadow: -5px 5px 10px rgba(black,0.25);
	.button-wrapper{
		padding: 0 15px 20px 0;
		text-align: right;
	}
}
.toolbar-minicart-wrapper .minicart{
	margin-bottom: 0;
}
.toolbar-minicart-wrapper .shopping-cart-table{
	margin-bottom: 0.5em;
}
.toolbar-minicart-wrapper .shopping-cart-tbody,
.toolbar-minicart-wrapper .shopping-cart-tfoot{
	padding: 15px;
	td{
		color: darken(white,5) !important;
	}
}
.toolbar-minicart-wrapper .shopping-cart-tbody{
	overflow-y: auto;
	height: 150px;
	tr{
		border-bottom: 1px solid lighten($c-dark,7.5) !important;
		&:first-child{
			border-top: 1px solid lighten($c-dark,7.5) !important;
		}
	}
}
.toolbar-minicart-wrapper .shopping-cart-tfoot{
	border-top: none;
	box-shadow: 0 -5px 5px rgba(black,0.25);
	tr:first-child td:first-child{
		display: none;
	}
	td.shopping-cart-subtotal,
	td.shopping-cart-shipping,
	td.shopping-cart-total{
		border-bottom-color: lighten($c-dark,15);
		strong{
			color: darken(white,5) !important;
		}
	}
	td.shopping-cart-subtotal{
		display: none;
	}
}

/*------------------------Shopping Cart Empty------------------------*/
section.shopping-cart-empty{
	// display: none;
	@include margin-v(30);
	text-align: center;
	.button-lineal:hover{
		background-color: rgba(0,0,0,.8);
	}
}

/*------------------------Review to hide loader------------------------*/
.miniCarrito {
	display: none;
	position: absolute;
	padding: 10px;
	margin: 30px auto;
	z-index: 1000;
}