/*--------------------Store Policies--------------------*/
.store-policies{
	// display: none;
	position: relative;
	z-index: 100;
	overflow: hidden;
	text-align: center;
	&-wrapper{
		overflow: hidden;
		background-color: desaturate($c-primary,10);
	}
	&-item{
		width: 50%;
		float: left;
		@include padding-v(15);
		@include font-size(1);
		@media screen and (min-width: $screen-md-min){
			width: 25%;
			position: relative;
			@include padding-v(70);
		}
		&:nth-child(1),
		&:nth-child(2){
			z-index: 10;
		}
	}
	&-title{
		text-transform: uppercase;
		i[class^="icon-"]{
			@include font-size(6.5);
			color: $c-secondary;
			&:before{
				display: block;
				@media screen and (min-width: $screen-md-min){
					margin-bottom: 0.1em;
				}
			}
		}
		strong{
			display: block;
			position: relative;
			font-family: $font-title;
			@include font-size(1.2);
			line-height: 1.2;
			font-weight: $font-regular;
			color: white;
			cursor: pointer;
			@media screen and (min-width: $screen-md-min){
				cursor: default;
			}
		}
	}
	&-description{
		display: none;
		@include padding-h(15);
		@include font-size(0.9);
		opacity: 0;
		transition: opacity 0.5s;
		@media screen and (min-width: $screen-md-min){
			display: block;
			opacity: 1;
		}
		button.close{
			@media screen and (min-width: $screen-md-min){
				display: none;
			}
		}
		div{
			display: block;
			padding: 7px 0;
			border-bottom: 1px solid $c-primary;
			color: $c-text;
			&:only-child,
			&:last-child{
				border-bottom: none;
			}
			strong{
				display: block;
				margin-bottom: 0.5em;
				font-family: $font-title;
				@include font-size(1.4);
				font-weight: $font-regular;
				color: $c-text;
				@media screen and (min-width: $screen-md-min){
					display: none;
				}
			}
			p{
				display: block;
				margin-bottom: 10px;
				br{
					@media screen and (max-width: $screen-md-max){
						display: none;
					}
				}
			}
			img{
				max-height: 18px;
				margin-bottom: 10px;
				margin-right: 10px;
			}
		}
		&.active{
			@media screen and (max-width: $screen-sm-max){
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				padding: 0;
				background-color: white;
				opacity: 0.975;
				box-shadow: inset 0 0 0 1px $c-lightgray;
			}
			div{
				@media screen and (max-width: $screen-sm-max){
					width: 90%;
					@include absolute-center;
					z-index: 10;
				}
			}
		}
	}
}