/*--------------------Event List--------------------*/
.testimonial-list{
	@include padding-v(50);
	@media screen and (min-width: $screen-lg-min){
		@include padding-v(10);
	}
	.owl-wrapper-outer{
		margin-bottom: .5em;
	}
}

.testimonial-item{
	&-picture-image{
		width: 90px;
		height: 90px;
		border-radius: 50%;
	}
	&-caption{
		@include vertical-center;
		left: 105px;
		right: 15px;
		color: white;
	}
	&-name{
		display: block;
	}
	&-opinion{
		@include font-size(0.8);
	}
}