/*------------------------Toolbar Right------------------------*/
.toolbar-right-trigger{
	width: 40px;
	position: fixed;
	right: -1px;
	z-index: 1000000;
	border-color: #000 !important;
	text-align: center;
	background-color: rgba(lighten($c-primary,10),0.95);
	a{
		display: block;
		@include padding-v(10);
		text-decoration: none;
		color: white;
	}
}

.toolbar-right-wrapper {
	width: 100%;
	display: none;
	position: fixed;
	right: 0;
	z-index: 2000;
	color: white;
	background-color: darken($c-lightgray,80);
	background-color: darken($c-dark,5);
	box-shadow: -5px 5px 10px rgba(black,0.25);
	@media screen and (max-width: $screen-md-max){
		display: none;
	}
	@media screen and (min-width: $screen-sm-min){
		width: 430px;
		right: 39px;
	}
	.button-wrapper{
		padding: 0 15px 15px 0;
		text-align: right;
	}
	a{
		color: white;
	}
}

.toolbar-minicart-trigger,
.toolbar-minicart-wrapper{
	top: 150px;
	@media screen and (min-width: $screen-sm-min){
		top: 200px;
	}
}
.toolbar-minicart-trigger{
	@media screen and (max-width: $screen-xs-max){
		transform: translate(0,-100%);
	}
}