/*------------------------Tour Diversión------------------------*/
.tours-diversion{
	@include padding-v(10);
	@media screen and (min-width: $screen-md-min){
		@include padding-v(50);
	}
	.tag-subtitle{
		@include margin-v(1,2, $unit: em);
	}
}